<div id="rec230308153" class="r t-rec t-rec_pt_60 t-rec_pb_60 t-rec_pb-res-480_0"
	style="padding-top:60px;padding-bottom:60px;background-color:#fafafa; " data-record-type="255"
	data-bg-color="#fafafa" data-animationappear="off">
	<!-- T225 -->
	<div class="t225">
		<div class="t-container t-align_left">
			<div class="t-col t-col_12 ">
				<h2 class="t225__title t-title t-title_md" field="title"
					style="color:#253c77;font-size:46px;font-weight:700;font-family:'Roboto';">
					{{ elements.3.element_text }}
                </h2>
				<div class="t225__descr t-descr t-descr_xxl" field="descr"
					style="color:#707070;font-size:22px;font-weight:400;">
                    {{ elements.4.element_text }}
				</div>
			</div>
		</div>
	</div>
</div>
<div id="rec230539157" class="r t-rec t-rec_pt_45 t-rec_pb_45 t-rec_pb-res-480_45 t-screenmax-980px"
	style="padding-top:45px;padding-bottom:45px;background-color:#fafafa; " data-animationappear="off"
	data-record-type="858" data-screen-max="980px" data-bg-color="#fafafa">
	<!-- t858 -->
	<div class="t858">
		<div class="t-container">
			<div class="t858__row">
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild3136-3437-4235-b133-663931326133/Frame_5.svg"
									class="t858__img t-img" imgfield="li_img__1533046438146" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1533046438146">
                                    {{ elements.5.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1533046438146">
                                    {{ elements.6.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild6665-6438-4433-a434-633935396134/Frame_6.svg"
									class="t858__img t-img" imgfield="li_img__1600323996861" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1600323996861">
                                    {{ elements.7.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1600323996861">
                                    {{ elements.8.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="t858__row">
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild3163-3539-4265-b839-613830326433/Frame_8.svg"
									class="t858__img t-img" imgfield="li_img__1600323984976" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1600323984976">
                                    {{ elements.9.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1600323984976">
                                    {{ elements.10.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild3363-3066-4438-b966-383632663063/Frame_7.svg"
									class="t858__img t-img" imgfield="li_img__1600323987333" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1600323987333">
                                    {{ elements.11.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1600323987333">
                                    {{ elements.12.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="t858__row">
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild3834-6563-4731-b966-646665373534/Frame_9.svg"
									class="t858__img t-img" imgfield="li_img__1600323988611" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1600323988611">
                                    {{ elements.13.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1600323988611">
                                    {{ elements.14.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild3463-6238-4166-b338-656538346161/Frame_10.svg"
									class="t858__img t-img" imgfield="li_img__1533046463239" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1533046463239">
                                    {{ elements.15.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1533046463239">
                                    {{ elements.16.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="t858__row">
				<div class="t858__col t-col t-col_6 t-align_left">
					<div class="t858__inner-col"
						style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px; height: 0px;">
						<div class="t858__wrap">
							<div class="t858__wrap_top"><img
									src="https://static.tildacdn.com/tild3639-3934-4363-b338-326261373135/Frame_11.svg"
									class="t858__img t-img" imgfield="li_img__1533046478108" style="width:130px;"></div>
							<div class="t858__wrap_bottom">
								<div class="t-name t-name_lg t858__bottommargin"
									style="color:#253c77;font-size:24px;font-weight:500;font-family:'Roboto';"
									field="li_title__1533046478108">
                                    {{ elements.17.element_text }}
								</div>
								<div class="t-descr t-descr_sm"
									style="color:#707070;font-size:18px;font-weight:400;font-family:'Roboto';"
									field="li_descr__1533046478108">
                                    {{ elements.18.element_text }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			t858_init('230539157');
		});
	</script>
</div>
<div id="rec229573964" class="r t-rec r_anim r_showed" style=" " data-record-type="215" data-offset-top="2194"><a
		name="job" style="font-size:0;"></a></div>