<div id="rec228747339" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
	<!-- T396 -->
	<style>
		#rec228747339 .t396__artboard {
			min-height: 650px;
			height: 100vh;
			background-color: #ffffff;
		}

		#rec228747339 .t396__filter {
			min-height: 650px;
			height: 100vh;
		}

		#rec228747339 .t396__carrier {
			min-height: 650px;
			height: 100vh;
			background-position: center center;
			background-attachment: scroll;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .t396__artboard {}

			#rec228747339 .t396__filter {}

			#rec228747339 .t396__carrier {
				background-attachment: scroll;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .t396__artboard {
				min-height: 1120px;
			}

			#rec228747339 .t396__filter {
				min-height: 1120px;
			}

			#rec228747339 .t396__carrier {
				min-height: 1120px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .t396__artboard {
				min-height: 1000px;
			}

			#rec228747339 .t396__filter {
				min-height: 1000px;
			}

			#rec228747339 .t396__carrier {
				min-height: 1000px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .t396__artboard {
				min-height: 930px;
			}

			#rec228747339 .t396__filter {
				min-height: 930px;
			}

			#rec228747339 .t396__carrier {
				min-height: 930px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599804929449"] {
			color: #253c77;
			z-index: 9;
			top: calc(50vh - 325px + 120px);
			left: calc(50% - 600px + 20px);
			width: 510px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599804929449"] .tn-atom {
			color: #253c77;
			font-size: 46px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.25;
			font-weight: 700;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599804929449"] {
				top: calc(50vh - 325px + 120px);
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599804929449"] {
				top: calc(50vh - 560px + 177px);
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599804929449"] {
				top: calc(50vh - 500px + 170px);
				left: calc(50% - 240px + 10px);
				width: 340px;
			}

			#rec228747339 .tn-elem[data-elem-id="1599804929449"] .tn-atom {
				font-size: 30px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599804929449"] {
				top: calc(120px);
				left: calc(50% - 160px + 10px);
				width: 300px;
			}

			#rec228747339 .tn-elem[data-elem-id="1599804929449"] .tn-atom {
				font-size: 30px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599805157999"] {
			color: #707070;
			z-index: 11;
			top: calc(50vh - 325px + 258px);
			left: calc(50% - 600px + 20px);
			width: 500px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599805157999"] .tn-atom {
			color: #707070;
			font-size: 22px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.6;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599805157999"] {
				top: calc(50vh - 325px + 258px);
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599805157999"] {
				top: calc(50vh - 560px + 315px);
				left: calc(50% - 320px + 10px);
				width: 500px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599805157999"] {
				top: calc(50vh - 500px + 266px);
				left: calc(50% - 240px + 10px);
				width: 370px;
			}

			#rec228747339 .tn-elem[data-elem-id="1599805157999"] .tn-atom {
				font-size: 18px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599805157999"] {
				top: calc(252px);
				left: calc(50% - 160px + 10px);
				width: 310px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599805210106"] {
			color: #ffffff;
			text-align: center;
			z-index: 12;
			top: calc(50vh - 325px + 425px);
			left: calc(50% - 600px + 20px);
			width: 300px;
			height: 65px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599805210106"] .tn-atom {
			color: #ffffff;
			font-size: 16px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.55;
			font-weight: 500;
			letter-spacing: 0.5px;
			border-width: 1px;
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		}

		#rec228747339 .tn-elem[data-elem-id="1599805210106"] .tn-atom:hover {
			background-color: #7aba02;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599805210106"] {
				top: calc(50vh - 325px + 425px);
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599805210106"] {
				top: calc(50vh - 560px + 482px);
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599805210106"] {
				top: calc(50vh - 500px + 405px);
				left: calc(50% - 240px + 10px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599805210106"] {
				top: calc(419px);
				left: calc(50% - 160px + 10px);
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599807080291"] {
			z-index: 8;
			top: calc(50vh - 325px + 212px);
			left: calc(50% - 600px + 740px);
			width: 406px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599807080291"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599807080291"] {
				top: calc(50vh - 325px + 270px);
				left: calc(50% - 480px + 610px);
				width: 276px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599807080291"] {
				top: calc(50vh - 560px + 765px);
				left: calc(50% - 320px + 182px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599807080291"] {
				top: calc(50vh - 500px + 665px);
				left: calc(50% - 240px + 118px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599807080291"] {
				top: calc(645px);
				left: calc(50% - 160px + 81px);
				width: 216px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599807134763"] {
			z-index: 16;
			top: calc(50vh - 325px + 537px);
			left: calc(50% - 600px + 584px);
			width: 633px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599807134763"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599807134763"] {
				top: calc(50vh - 325px + 491px);
				left: calc(50% - 480px + 444px);
				width: 603px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599807134763"] {
				top: calc(50vh - 560px + 986px);
				left: calc(50% - 320px + 16px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599807134763"] {
				top: calc(50vh - 500px + 886px);
				left: calc(50% - 240px + -48px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599807134763"] {
				top: calc(-495px);
				left: calc(50% - 160px + -100px);
			}

			#rec228747339 .tn-elem[data-elem-id="1599807134763"] .tn-atom {
				opacity: 0;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599807181452"] {
			z-index: 7;
			top: calc(50vh - 325px + 60px);
			left: calc(50% - 600px + 626px);
			width: 603px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599807181452"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599807181452"] {
				top: calc(50vh - 325px + 130px);
				left: calc(50% - 480px + 551px);
				width: 403px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599807181452"] {
				top: calc(50vh - 560px + 625px);
				left: calc(50% - 320px + 83px);
				width: 443px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599807181452"] {
				top: calc(50vh - 500px + 545px);
				left: calc(50% - 240px + 39px);
				width: 393px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599807181452"] {
				top: calc(555px);
				left: calc(50% - 160px + 9px);
				width: 303px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599807305317"] {
			z-index: 13;
			top: calc(50vh - 325px + 217px);
			left: calc(50% - 600px + 1040px);
			width: 63px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599807305317"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599807305317"] {
				top: calc(50vh - 325px + 275px);
				left: calc(50% - 480px + 820px);
				width: 53px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599807305317"] {
				top: calc(50vh - 560px + 770px);
				left: calc(50% - 320px + 392px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599807305317"] {
				top: calc(50vh - 500px + 670px);
				left: calc(50% - 240px + 328px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599807305317"] {
				top: calc(644px);
				left: calc(50% - 160px + 235px);
				width: 33px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599807375549"] {
			z-index: 1;
			top: calc(50vh - 325px + 260px);
			left: calc(50% - 600px + 1120px);
			width: 87px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599807375549"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599807375549"] {
				top: calc(50vh - 325px + 300px);
				left: calc(50% - 480px + 880px);
				width: 67px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599807375549"] {
				top: calc(50vh - 560px + 795px);
				left: calc(50% - 320px + 452px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599807375549"] {
				top: calc(50vh - 500px + 695px);
				left: calc(50% - 240px + 388px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599807375549"] {
				top: calc(659px);
				left: calc(50% - 160px + 267px);
				width: 47px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599809521069"] {
			z-index: 15;
			top: calc(50vh - 325px + 454px);
			left: calc(50% - 600px + 1159px);
			width: 60px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599809521069"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599809521069"] {
				top: calc(50vh - 325px + 436px);
				left: calc(50% - 480px + 910px);
				width: 40px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599809521069"] {
				top: calc(50vh - 560px + 931px);
				left: calc(50% - 320px + 482px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599809521069"] {
				top: calc(50vh - 500px + 831px);
				left: calc(50% - 240px + 418px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599809521069"] {
				top: calc(310px);
				left: calc(50% - 160px + 620px);
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1599827488152"] {
			z-index: 6;
			top: calc(100vh + 140px);
			left: calc(50% - 1352.5px + 1px);
			width: 2705px;
		}

		#rec228747339 .tn-elem[data-elem-id="1599827488152"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1599827488152"] {
				top: calc(100vh + 110px);
				left: calc(50% - 1202.5px + 1px);
				width: 2405px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1599827488152"] {
				top: calc(100vh + 133px);
				left: calc(50% - 1007.5px + 1px);
				width: 2015px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1599827488152"] {
				top: calc(100vh + 143px);
				left: calc(50% - 1007.5px + 1px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1599827488152"] {
				top: calc(100vh + 63px);
				left: calc(50% - 562.5px + 1px);
				width: 1125px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600080412722"] {
			z-index: 5;
			top: calc(50vh - 325px + 347px);
			left: calc(50% - 600px + 590px);
			width: 84px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600080412722"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1600080412722"] {
				top: calc(50vh - 325px + 377px);
				left: calc(50% - 480px + 510px);
				width: 50px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600080412722"] {
				top: calc(50vh - 560px + 872px);
				left: calc(50% - 320px + 82px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1600080412722"] {
				top: calc(50vh - 500px + 772px);
				left: calc(50% - 240px + 18px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600080412722"] {
				top: calc(726px);
				left: calc(50% - 160px + 2px);
				width: 40px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600080428119"] {
			z-index: 17;
			top: calc(50vh - 325px + 205px);
			left: calc(50% - 600px + 750px);
			width: 100px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600080428119"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1600080428119"] {
				top: calc(50vh - 325px + 278px);
				left: calc(50% - 480px + 620px);
				width: 70px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600080428119"] {
				top: calc(50vh - 560px + 773px);
				left: calc(50% - 320px + 192px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1600080428119"] {
				top: calc(50vh - 500px + 673px);
				left: calc(50% - 240px + 128px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600080428119"] {
				top: calc(638px);
				left: calc(50% - 160px + 92px);
				width: 50px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600080444126"] {
			z-index: 4;
			top: calc(50vh - 325px + 215px);
			left: calc(50% - 600px + 592px);
			width: 194px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600080444126"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1600080444126"] {
				top: calc(50vh - 325px + 285px);
				left: calc(50% - 480px + 510px);
				width: 134px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600080444126"] {
				top: calc(50vh - 560px + 780px);
				left: calc(50% - 320px + 82px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1600080444126"] {
				top: calc(50vh - 500px + 680px);
				left: calc(50% - 240px + 18px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600080444126"] {
				top: calc(648px);
				left: calc(50% - 160px + 2px);
				width: 112px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600080816844"] {
			z-index: 2;
			top: calc(50vh - 325px + 305px);
			left: calc(50% - 600px + 740px);
			width: 95px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600080816844"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1600080816844"] {
				top: calc(50vh - 325px + 343px);
				left: calc(50% - 480px + 620px);
				width: 65px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600080816844"] {
				top: calc(50vh - 560px + 838px);
				left: calc(50% - 320px + 192px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1600080816844"] {
				top: calc(50vh - 500px + 738px);
				left: calc(50% - 240px + 128px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600080816844"] {
				top: calc(699px);
				left: calc(50% - 160px + 80px);
				width: 55px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600080910573"] {
			z-index: 18;
			top: calc(50vh - 325px + 370px);
			left: calc(50% - 600px + 660px);
			width: 85px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600080910573"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1600080910573"] {
				top: calc(50vh - 325px + 370px);
				left: calc(50% - 480px + 550px);
				width: 65px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600080910573"] {
				top: calc(50vh - 560px + 865px);
				left: calc(50% - 320px + 122px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1600080910573"] {
				top: calc(50vh - 500px + 765px);
				left: calc(50% - 240px + 58px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600080910573"] {
				top: calc(731px);
				left: calc(50% - 160px + 38px);
				width: 45px;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600152844403"] {
			z-index: 19;
			top: calc(50vh - 325px + -230px);
			left: calc(50% - 600px + 584px);
			width: 633px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600152844403"] .tn-atom {
			opacity: 0;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec228747339 .tn-elem[data-elem-id="1600152844403"] {
				top: calc(50vh - 325px + -200px);
				left: calc(50% - 480px + 454px);
				width: 603px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600152844403"] {
				top: calc(50vh - 560px + -240px);
				left: calc(50% - 320px + 26px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec228747339 .tn-elem[data-elem-id="1600152844403"] {
				top: calc(50vh - 500px + -320px);
				left: calc(50% - 240px + -38px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600152844403"] {
				top: calc(817px);
				left: calc(50% - 160px + -1px);
				width: 323px;
			}

			#rec228747339 .tn-elem[data-elem-id="1600152844403"] .tn-atom {
				opacity: 1;
			}
		}

		#rec228747339 .tn-elem[data-elem-id="1600154149713"] {
			z-index: 20;
			top: calc(50vh - 325px + -460px);
			left: calc(50% - 600px + 170px);
			width: 200px;
		}

		#rec228747339 .tn-elem[data-elem-id="1600154149713"] .tn-atom {
			opacity: 0;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 959px) {
			#rec228747339 .tn-elem[data-elem-id="1600154149713"] {
				top: calc(50vh - 560px + 20px);
				left: calc(50% - 320px + 0px);
			}

			#rec228747339 .tn-elem[data-elem-id="1600154149713"] .tn-atom {
				opacity: 1;
			}
		}

		@media screen and (max-width: 639px) {}

		@media screen and (max-width: 479px) {
			#rec228747339 .tn-elem[data-elem-id="1600154149713"] {
				width: 170px;
			}
		}
	</style>
	<div class="t396">
		<div class="t396__artboard rendered" data-artboard-recid="228747339" data-artboard-height="650"
			data-artboard-height-res-640="1120" data-artboard-height-res-480="1000" data-artboard-height-res-320="930"
			data-artboard-height_vh="100" data-artboard-valign="center" data-artboard-ovrflw=""
			data-artboard-proxy-min-offset-top="0" data-artboard-proxy-min-height="650"
			data-artboard-proxy-max-height="650">
			<div class="t396__carrier" data-artboard-recid="228747339"></div>
			<div class="t396__filter" data-artboard-recid="228747339"></div>
			<div class="t396__elem tn-elem tn-elem__2287473391599804929449" data-elem-id="1599804929449"
				data-elem-type="text" data-field-top-value="120" data-field-top-res-960-value="120"
				data-field-top-res-640-value="177" data-field-top-res-480-value="170" data-field-top-res-320-value="120"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="510"
				data-field-width-res-480-value="340" data-field-width-res-320-value="300" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 120px; left: 691.5px; width: 510px;">
				<h1 class="tn-atom">
                    {{ elements.0.element_text }}
                </h1>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599805157999" data-elem-id="1599805157999"
				data-elem-type="text" data-field-top-value="258" data-field-top-res-960-value="258"
				data-field-top-res-640-value="315" data-field-top-res-480-value="266" data-field-top-res-320-value="252"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="500"
				data-field-width-res-640-value="500" data-field-width-res-480-value="370"
				data-field-width-res-320-value="310" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 258px; left: 691.5px; width: 500px;">
				<div class="tn-atom" field="tn_text_1599805157999">
                    {{ elements.1.element_text }}
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599805210106" data-elem-id="1599805210106"
				data-elem-type="button" data-field-top-value="425" data-field-top-res-960-value="425"
				data-field-top-res-640-value="482" data-field-top-res-480-value="405" data-field-top-res-320-value="419"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="65"
				data-field-width-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits"
				style="top: 425px; left: 691.5px; width: 300px; height: 65px;">
                <a class="tn-atom" href="#contacts">
                    {{ elements.2.element_text }}
                </a>
            </div>
			<div class="t396__elem tn-elem tn-elem__2287473391599807080291" data-elem-id="1599807080291"
				data-elem-type="image" data-field-top-value="212" data-field-top-res-960-value="270"
				data-field-top-res-640-value="765" data-field-top-res-480-value="665" data-field-top-res-320-value="645"
				data-field-left-value="740" data-field-left-res-960-value="610" data-field-left-res-640-value="182"
				data-field-left-res-480-value="118" data-field-left-res-320-value="81" data-field-width-value="406"
				data-field-width-res-960-value="276" data-field-width-res-320-value="216" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1411.5px; top: 212px; width: 406px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3865-3565-4464-b833-313231653134/_2.svg"
						imgfield="tn_img_1599807080291"
						src="https://static.tildacdn.com/tild3865-3565-4464-b833-313231653134/_2.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599807134763" data-elem-id="1599807134763"
				data-elem-type="image" data-field-top-value="537" data-field-top-res-960-value="491"
				data-field-top-res-640-value="986" data-field-top-res-480-value="886" data-field-top-res-320-value="-495"
				data-field-left-value="584" data-field-left-res-960-value="444" data-field-left-res-640-value="16"
				data-field-left-res-480-value="-48" data-field-left-res-320-value="-100" data-field-width-value="633"
				data-field-width-res-960-value="603" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1255.5px; top: 537px; width: 633px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6566-6334-4762-a364-306630363961/_5.svg"
						imgfield="tn_img_1599807134763"
						src="https://static.tildacdn.com/tild6566-6334-4762-a364-306630363961/_5.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599807181452" data-elem-id="1599807181452"
				data-elem-type="image" data-field-top-value="60" data-field-top-res-960-value="130"
				data-field-top-res-640-value="625" data-field-top-res-480-value="545" data-field-top-res-320-value="555"
				data-field-left-value="626" data-field-left-res-960-value="551" data-field-left-res-640-value="83"
				data-field-left-res-480-value="39" data-field-left-res-320-value="9" data-field-width-value="603"
				data-field-width-res-960-value="403" data-field-width-res-640-value="443"
				data-field-width-res-480-value="393" data-field-width-res-320-value="303" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1297.5px; top: 60px; width: 603px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3061-6330-4761-b566-306633366130/_13.svg"
						imgfield="tn_img_1599807181452"
						src="https://static.tildacdn.com/tild3061-6330-4761-b566-306633366130/_13.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599807305317 t-sbs-anim_started" data-elem-id="1599807305317"
				data-elem-type="image" data-field-top-value="217" data-field-top-res-960-value="275"
				data-field-top-res-640-value="770" data-field-top-res-480-value="670" data-field-top-res-320-value="644"
				data-field-left-value="1040" data-field-left-res-960-value="820" data-field-left-res-640-value="392"
				data-field-left-res-480-value="328" data-field-left-res-320-value="235" data-field-width-value="63"
				data-field-width-res-960-value="53" data-field-width-res-320-value="33" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-animate-mobile="y" data-animate-sbs-event="intoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':30,'my':-70,'sx':1.2,'sy':1.2,'op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':-60,'my':-180,'sx':1.6,'sy':1.6,'op':0,'ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':-60,'my':-180,'sx':1.6,'sy':1.6,'op':0,'ro':-10,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-960="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':20,'my':-40,'sx':1.2,'sy':1.2,'op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':-30,'my':-100,'sx':1.6,'sy':1.6,'op':0,'ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':-30,'my':-100,'sx':1.6,'sy':1.6,'op':0,'ro':-10,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-320="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':20,'my':-30,'sx':1.2,'sy':1.2,'op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':-30,'my':-100,'sx':1.6,'sy':1.6,'op':0,'ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1200,'mx':-30,'my':-100,'sx':1.6,'sy':1.6,'op':0,'ro':-10,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1711.5px; top: 217px; width: 63px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3536-3230-4531-a434-303833366637/_12.svg"
							imgfield="tn_img_1599807305317"
							src="https://static.tildacdn.com/tild3536-3230-4531-a434-303833366637/_12.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599807375549 t-sbs-anim_started" data-elem-id="1599807375549"
				data-elem-type="image" data-field-top-value="260" data-field-top-res-960-value="300"
				data-field-top-res-640-value="795" data-field-top-res-480-value="695" data-field-top-res-320-value="659"
				data-field-left-value="1120" data-field-left-res-960-value="880" data-field-left-res-640-value="452"
				data-field-left-res-480-value="388" data-field-left-res-320-value="267" data-field-width-value="87"
				data-field-width-res-960-value="67" data-field-width-res-320-value="47" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1500,'mx':5,'my':0,'sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':1500,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1791.5px; top: 260px; width: 87px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6363-3662-4135-a431-376363396263/_7.svg"
							imgfield="tn_img_1599807375549"
							src="https://static.tildacdn.com/tild6363-3662-4135-a431-376363396263/_7.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599809521069" data-elem-id="1599809521069"
				data-elem-type="image" data-field-top-value="454" data-field-top-res-960-value="436"
				data-field-top-res-640-value="931" data-field-top-res-480-value="831" data-field-top-res-320-value="310"
				data-field-left-value="1159" data-field-left-res-960-value="910" data-field-left-res-640-value="482"
				data-field-left-res-480-value="418" data-field-left-res-320-value="620" data-field-width-value="60"
				data-field-width-res-960-value="40" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1830.5px; top: 454px; width: 60px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6137-6335-4239-b366-333334666664/_14.svg"
						imgfield="tn_img_1599809521069"
						src="https://static.tildacdn.com/tild6137-6335-4239-b366-333334666664/_14.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391599827488152" data-elem-id="1599827488152"
				data-elem-type="image" data-field-top-value="140" data-field-top-res-960-value="110"
				data-field-top-res-640-value="133" data-field-top-res-480-value="143" data-field-top-res-320-value="63"
				data-field-left-value="1" data-field-left-res-960-value="1" data-field-left-res-640-value="1"
				data-field-left-res-480-value="1" data-field-left-res-320-value="1" data-field-width-value="2705"
				data-field-width-res-960-value="2405" data-field-width-res-640-value="2015"
				data-field-width-res-320-value="1125" data-field-axisy-value="bottom" data-field-axisx-value="center"
				data-field-container-value="window" data-field-topunits-value="" data-field-leftunits-value=""
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: -80px; top: 538px; width: 2705px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6233-3931-4136-a236-613932323535/_14.svg"
						imgfield="tn_img_1599827488152"
						src="https://static.tildacdn.com/tild6233-3931-4136-a236-613932323535/_14.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600080412722" data-elem-id="1600080412722"
				data-elem-type="image" data-field-top-value="347" data-field-top-res-960-value="377"
				data-field-top-res-640-value="872" data-field-top-res-480-value="772" data-field-top-res-320-value="726"
				data-field-left-value="590" data-field-left-res-960-value="510" data-field-left-res-640-value="82"
				data-field-left-res-480-value="18" data-field-left-res-320-value="2" data-field-width-value="84"
				data-field-width-res-960-value="50" data-field-width-res-320-value="40" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1261.5px; top: 347px; width: 84px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6530-3633-4262-a635-383536393261/_43.svg"
						imgfield="tn_img_1600080412722"
						src="https://static.tildacdn.com/tild6530-3633-4262-a635-383536393261/_43.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600080428119 t-sbs-anim_started" data-elem-id="1600080428119"
				data-elem-type="image" data-field-top-value="205" data-field-top-res-960-value="278"
				data-field-top-res-640-value="773" data-field-top-res-480-value="673" data-field-top-res-320-value="638"
				data-field-left-value="750" data-field-left-res-960-value="620" data-field-left-res-640-value="192"
				data-field-left-res-480-value="128" data-field-left-res-320-value="92" data-field-width-value="100"
				data-field-width-res-960-value="70" data-field-width-res-320-value="50" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':10,'my':10,'sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':10,'my':10,'sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':4000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-960="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':10,'my':10,'sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':10,'my':10,'sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':4000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-320="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':5,'my':10,'sx':'1','sy':'1','op':'1','ro':-8,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':5,'my':10,'sx':'1','sy':'1','op':'1','ro':-8,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':4000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1421.5px; top: 205px; width: 100px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3665-6364-4631-a432-646635356537/_44.svg"
							imgfield="tn_img_1600080428119"
							src="https://static.tildacdn.com/tild3665-6364-4631-a432-646635356537/_44.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600080444126 t-sbs-anim_started" data-elem-id="1600080444126"
				data-elem-type="image" data-field-top-value="215" data-field-top-res-960-value="285"
				data-field-top-res-640-value="780" data-field-top-res-480-value="680" data-field-top-res-320-value="648"
				data-field-left-value="592" data-field-left-res-960-value="510" data-field-left-res-640-value="82"
				data-field-left-res-480-value="18" data-field-left-res-320-value="2" data-field-width-value="194"
				data-field-width-res-960-value="134" data-field-width-res-320-value="112" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':6,'my':6,'sx':'1','sy':'1','op':'1','ro':5,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':6,'my':6,'sx':'1','sy':'1','op':'1','ro':5,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':4000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-960="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':6,'my':6,'sx':'1','sy':'1','op':'1','ro':5,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':6,'my':6,'sx':'1','sy':'1','op':'1','ro':5,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':4000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-320="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':3,'my':5,'sx':'1','sy':'1','op':'1','ro':5,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':3,'my':5,'sx':'1','sy':'1','op':'1','ro':5,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'},{'ti':4000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1263.5px; top: 215px; width: 194px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3963-6639-4930-b132-363462363239/_45.svg"
							imgfield="tn_img_1600080444126"
							src="https://static.tildacdn.com/tild3963-6639-4930-b132-363462363239/_45.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600080816844" data-elem-id="1600080816844"
				data-elem-type="image" data-field-top-value="305" data-field-top-res-960-value="343"
				data-field-top-res-640-value="838" data-field-top-res-480-value="738" data-field-top-res-320-value="699"
				data-field-left-value="740" data-field-left-res-960-value="620" data-field-left-res-640-value="192"
				data-field-left-res-480-value="128" data-field-left-res-320-value="80" data-field-width-value="95"
				data-field-width-res-960-value="65" data-field-width-res-320-value="55" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1411.5px; top: 305px; width: 95px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6334-6538-4739-b231-343339616638/_46.svg"
						imgfield="tn_img_1600080816844"
						src="https://static.tildacdn.com/tild6334-6538-4739-b231-343339616638/_46.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600080910573" data-elem-id="1600080910573"
				data-elem-type="image" data-field-top-value="370" data-field-top-res-960-value="370"
				data-field-top-res-640-value="865" data-field-top-res-480-value="765" data-field-top-res-320-value="731"
				data-field-left-value="660" data-field-left-res-960-value="550" data-field-left-res-640-value="122"
				data-field-left-res-480-value="58" data-field-left-res-320-value="38" data-field-width-value="85"
				data-field-width-res-960-value="65" data-field-width-res-320-value="45" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1331.5px; top: 370px; width: 85px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3561-6161-4061-b363-326336613935/_47.svg"
						imgfield="tn_img_1600080910573"
						src="https://static.tildacdn.com/tild3561-6161-4061-b363-326336613935/_47.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600152844403" data-elem-id="1600152844403"
				data-elem-type="image" data-field-top-value="-230" data-field-top-res-960-value="-200"
				data-field-top-res-640-value="-240" data-field-top-res-480-value="-320" data-field-top-res-320-value="817"
				data-field-left-value="584" data-field-left-res-960-value="454" data-field-left-res-640-value="26"
				data-field-left-res-480-value="-38" data-field-left-res-320-value="-1" data-field-width-value="633"
				data-field-width-res-960-value="603" data-field-width-res-320-value="323" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
				data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1255.5px; top: -230px; width: 633px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6366-3163-4337-b663-633638633934/_68.svg"
						imgfield="tn_img_1600152844403"
						src="https://static.tildacdn.com/tild6366-3163-4337-b663-633638633934/_68.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2287473391600154149713" data-elem-id="1600154149713"
				data-elem-type="image" data-field-top-value="-460" data-field-top-res-640-value="20"
				data-field-left-value="170" data-field-left-res-640-value="0" data-field-width-value="200"
				data-field-width-res-320-value="170" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 841.5px; top: -460px; width: 200px;"><a class="tn-atom" href="#home"> <img
						class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3861-3861-4464-b163-616164306334/Modulbank-logo-ru-rg.svg"
						imgfield="tn_img_1600154149713"
						src="https://static.tildacdn.com/tild3861-3861-4464-b163-616164306334/Modulbank-logo-ru-rg.svg">
				</a></div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			t396_init('228747339');
		});
	</script><!-- /T396 -->
</div>