<div id="rec230311855" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
	<!-- T396 -->
	<style>
		#rec230311855 .t396__artboard {
			height: 1230px;
			background-color: #ffffff;
		}

		#rec230311855 .t396__filter {
			height: 1230px;
		}

		#rec230311855 .t396__carrier {
			height: 1230px;
			background-position: center center;
			background-attachment: scroll;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .t396__artboard {
				height: 1100px;
			}

			#rec230311855 .t396__filter {
				height: 1100px;
			}

			#rec230311855 .t396__carrier {
				height: 1100px;
				background-attachment: scroll;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .t396__artboard {
				height: 1670px;
			}

			#rec230311855 .t396__filter {
				height: 1670px;
			}

			#rec230311855 .t396__carrier {
				height: 1670px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .t396__artboard {
				height: 1680px;
			}

			#rec230311855 .t396__filter {
				height: 1680px;
			}

			#rec230311855 .t396__carrier {
				height: 1680px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .t396__artboard {
				height: 1580px;
			}

			#rec230311855 .t396__filter {
				height: 1580px;
			}

			#rec230311855 .t396__carrier {
				height: 1580px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600259884498"] {
			color: #253c77;
			z-index: 1;
			top: 150px;
			left: calc(50% - 600px + 20px);
			width: 660px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600259884498"] .tn-atom {
			color: #253c77;
			font-size: 46px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.25;
			font-weight: 700;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884498"] {
				top: 140px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884498"] {
				top: 127px;
				left: calc(50% - 320px + 10px);
				width: 520px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884498"] {
				top: 110px;
				left: calc(50% - 240px + 10px);
				width: 340px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600259884498"] .tn-atom {
				font-size: 30px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884498"] {
				top: 110px;
				left: calc(50% - 160px + 10px);
				width: 300px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600259884498"] .tn-atom {
				font-size: 30px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600259884504"] {
			color: #707070;
			z-index: 2;
			top: 241px;
			left: calc(50% - 600px + 20px);
			width: 680px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600259884504"] .tn-atom {
			color: #707070;
			font-size: 22px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.6;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884504"] {
				top: 230px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884504"] {
				top: 218px;
				left: calc(50% - 320px + 10px);
				width: 590px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884504"] {
				top: 206px;
				left: calc(50% - 240px + 10px);
				width: 370px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600259884504"] .tn-atom {
				font-size: 18px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600259884504"] {
				top: 207px;
				left: calc(50% - 160px + 10px);
				width: 280px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600259976087"] {
			color: #253c77;
			z-index: 7;
			top: 753px;
			left: calc(50% - 600px + 21px);
			width: 470px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600259976087"] .tn-atom {
			color: #253c77;
			font-size: 24px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.45;
			font-weight: 500;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600259976087"] {
				top: 642px;
				left: calc(50% - 480px + 10px);
				width: 370px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600259976087"] {
				top: 628px;
				left: calc(50% - 320px + 10px);
				width: 470px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600259976087"] {
				top: 620px;
				left: calc(50% - 240px + 10px);
				width: 410px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600259976087"] .tn-atom {
				font-size: 20px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600259976087"] {
				top: 535px;
				left: calc(50% - 160px + 10px);
				width: 270px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600260016254"] {
			color: #707070;
			z-index: 9;
			top: 826px;
			left: calc(50% - 600px + 34px);
			width: 350px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600260016254"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600260016254"] {
				top: 750px;
				left: calc(50% - 480px + 22px);
				width: 350px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600260016254"] {
				top: 692px;
				left: calc(50% - 320px + 30px);
				width: 350px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600260016254"] {
				top: 681px;
				left: calc(50% - 240px + 30px);
				width: 310px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600260016254"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600260016254"] {
				top: 625px;
				left: calc(50% - 160px + 20px);
				width: 270px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600260075895"] {
			color: #707070;
			z-index: 11;
			top: 916px;
			left: calc(50% - 600px + 34px);
			width: 370px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600260075895"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600260075895"] {
				top: 840px;
				left: calc(50% - 480px + 22px);
				width: 380px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600260075895"] {
				top: 773px;
				left: calc(50% - 320px + 30px);
				width: 360px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600260075895"] {
				top: 757px;
				left: calc(50% - 240px + 30px);
				width: 340px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600260075895"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600260075895"] {
				top: 701px;
				left: calc(50% - 160px + 20px);
				width: 220px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600260241254"] {
			color: #253c77;
			z-index: 12;
			top: 753px;
			left: calc(50% - 600px + 681px);
			width: 420px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600260241254"] .tn-atom {
			color: #253c77;
			font-size: 24px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.45;
			font-weight: 500;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241254"] {
				top: 642px;
				left: calc(50% - 480px + 551px);
				width: 350px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241254"] {
				top: 1334px;
				left: calc(50% - 320px + 10px);
				width: 410px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241254"] {
				top: 1307px;
				left: calc(50% - 240px + 10px);
			}

			#rec230311855 .tn-elem[data-elem-id="1600260241254"] .tn-atom {
				font-size: 20px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241254"] {
				top: 1200px;
				left: calc(50% - 160px + 10px);
				width: 240px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600260241266"] {
			color: #707070;
			z-index: 14;
			top: 826px;
			left: calc(50% - 600px + 694px);
			width: 300px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600260241266"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241266"] {
				top: 750px;
				left: calc(50% - 480px + 563px);
				width: 320px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241266"] {
				top: 1398px;
				left: calc(50% - 320px + 30px);
				width: 310px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241266"] {
				top: 1367px;
				left: calc(50% - 240px + 30px);
				width: 290px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600260241266"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241266"] {
				top: 1290px;
				left: calc(50% - 160px + 20px);
				width: 280px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600260241274"] {
			color: #707070;
			z-index: 16;
			top: 886px;
			left: calc(50% - 600px + 694px);
			width: 430px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600260241274"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241274"] {
				top: 810px;
				left: calc(50% - 480px + 563px);
				width: 310px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241274"] {
				top: 1448px;
				left: calc(50% - 320px + 30px);
				width: 310px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241274"] {
				top: 1416px;
				left: calc(50% - 240px + 30px);
				width: 270px;
			}

			#rec230311855 .tn-elem[data-elem-id="1600260241274"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600260241274"] {
				top: 1339px;
				left: calc(50% - 160px + 20px);
				width: 270px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600261197021"] {
			color: #ffffff;
			text-align: center;
			z-index: 17;
			top: 998px;
			left: calc(50% - 600px + 20px);
			width: 300px;
			height: 65px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600261197021"] .tn-atom {
			color: #ffffff;
			font-size: 16px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.55;
			font-weight: 500;
			letter-spacing: 0.5px;
			border-width: 1px;
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		}

		#rec230311855 .tn-elem[data-elem-id="1600261197021"] .tn-atom:hover {
			background-color: #7aba02;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600261197021"] {
				top: 922px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600261197021"] {
				top: 845px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600261197021"] {
				top: 827px;
				left: calc(50% - 240px + 10px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600261197021"] {
				top: 800px;
				left: calc(50% - 160px + 10px);
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600261228882"] {
			color: #ffffff;
			text-align: center;
			z-index: 18;
			top: 998px;
			left: calc(50% - 600px + 680px);
			width: 300px;
			height: 65px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600261228882"] .tn-atom {
			color: #ffffff;
			font-size: 16px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.55;
			font-weight: 500;
			letter-spacing: 0.5px;
			border-width: 1px;
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		}

		#rec230311855 .tn-elem[data-elem-id="1600261228882"] .tn-atom:hover {
			background-color: #7aba02;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600261228882"] {
				top: 922px;
				left: calc(50% - 480px + 551px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600261228882"] {
				top: 1550px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600261228882"] {
				top: 1513px;
				left: calc(50% - 240px + 10px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600261228882"] {
				top: 1436px;
				left: calc(50% - 160px + 10px);
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600261800987"] {
			z-index: 20;
			top: -183px;
			left: calc(50% - 1352.5px + 1px);
			width: 2705px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600261800987"] .tn-atom {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transform: rotate(180deg);
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600261800987"] {
				top: -164px;
				left: calc(50% - 1352.5px + 1px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600261800987"] {
				top: -154px;
				left: calc(50% - 1232.5px + 1px);
				width: 2465px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec230311855 .tn-elem[data-elem-id="1600263134255"] {
			z-index: 22;
			top: 368px;
			left: calc(50% - 600px + 20px);
			width: 500px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263134255"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134255"] {
				top: 326px;
				left: calc(50% - 480px + 9px);
				width: 420px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134255"] {
				top: 313px;
				left: calc(50% - 320px + 9px);
			}
		}

		@media screen and (max-width: 639px) {}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134255"] {
				top: 303px;
				left: calc(50% - 160px + 9px);
				width: 300px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600263134264"] {
			z-index: 23;
			top: 516px;
			left: calc(50% - 600px + 425px);
			width: 90px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263134264"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134264"] {
				top: 461px;
				left: calc(50% - 480px + 352px);
				width: 70px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134264"] {
				top: 448px;
				left: calc(50% - 320px + 352px);
			}
		}

		@media screen and (max-width: 639px) {}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134264"] {
				top: 402px;
				left: calc(50% - 160px + 254px);
				width: 50px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600263134273"] {
			z-index: 24;
			top: 577px;
			left: calc(50% - 600px + 247px);
			width: 5px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263134273"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134273"] {
				top: 505px;
				left: calc(50% - 480px + 199px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134273"] {
				top: 492px;
				left: calc(50% - 320px + 199px);
			}
		}

		@media screen and (max-width: 639px) {}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263134273"] {
				top: 429px;
				left: calc(50% - 160px + 145px);
				width: 3px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600263210619"] {
			z-index: 25;
			top: 371px;
			left: calc(50% - 600px + 677px);
			width: 450px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263210619"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263210619"] {
				top: 310px;
				left: calc(50% - 480px + 529px);
				width: 400px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263210619"] {
				top: 991px;
				left: calc(50% - 320px + 10px);
				width: 410px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600263210619"] {
				top: 973px;
				left: calc(50% - 240px + 10px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263210619"] {
				top: 945px;
				left: calc(50% - 160px + 10px);
				width: 300px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600263225874"] {
			z-index: 26;
			top: 522px;
			left: calc(50% - 600px + 737px);
			width: 54px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263225874"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263225874"] {
				top: 436px;
				left: calc(50% - 480px + 588px);
				width: 44px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263225874"] {
				top: 1131px;
				left: calc(50% - 320px + 60px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600263225874"] {
				top: 1113px;
				left: calc(50% - 240px + 60px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263225874"] {
				top: 1030px;
				left: calc(50% - 160px + 48px);
				width: 40px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600263970481"] {
			z-index: 27;
			top: 515px;
			left: calc(50% - 600px + 690px);
			width: 38px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263970481"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263970481"] {
				top: 435px;
				left: calc(50% - 480px + 550px);
				width: 28px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263970481"] {
				top: 1133px;
				left: calc(50% - 320px + 21px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600263970481"] {
				top: 1115px;
				left: calc(50% - 240px + 21px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263970481"] {
				top: 1032px;
				left: calc(50% - 160px + 11px);
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600263997899"] {
			z-index: 28;
			top: 465px;
			left: calc(50% - 600px + 790px);
			width: 50px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600263997899"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600263997899"] {
				top: 395px;
				left: calc(50% - 480px + 630px);
				width: 35px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600263997899"] {
				top: 1093px;
				left: calc(50% - 320px + 101px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600263997899"] {
				top: 1075px;
				left: calc(50% - 240px + 101px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600263997899"] {
				top: 994px;
				left: calc(50% - 160px + 81px);
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600264035793"] {
			z-index: 29;
			top: 615px;
			left: calc(50% - 600px + 960px);
			width: 50px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600264035793"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600264035793"] {
				top: 530px;
				left: calc(50% - 480px + 780px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600264035793"] {
				top: 1221px;
				left: calc(50% - 320px + 270px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600264035793"] {
				top: 1203px;
				left: calc(50% - 240px + 270px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600264035793"] {
				top: 1110px;
				left: calc(50% - 160px + 200px);
				width: 40px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600414484260"] {
			z-index: 31;
			top: 831px;
			left: calc(50% - 600px + 21px);
			width: 4px;
			height: 50px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600414484260"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600414484260"] {
				top: 755px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600414484260"] {
				top: 697px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600414484260"] {
				top: 688px;
				left: calc(50% - 240px + 10px);
				height: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600414484260"] {
				top: 632px;
				left: calc(50% - 160px + 10px);
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600414516644"] {
			z-index: 32;
			top: 919px;
			left: calc(50% - 600px + 21px);
			width: 4px;
			height: 25px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600414516644"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600414516644"] {
				top: 843px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600414516644"] {
				top: 776px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600414516644"] {
				top: 758px;
				left: calc(50% - 240px + 10px);
				height: 25px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600414516644"] {
				top: 708px;
				left: calc(50% - 160px + 10px);
				height: 40px;
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600414616543"] {
			z-index: 33;
			top: 891px;
			left: calc(50% - 600px + 681px);
			width: 4px;
			height: 50px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600414616543"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600414616543"] {
				top: 815px;
				left: calc(50% - 480px + 551px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600414616543"] {
				top: 1453px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600414616543"] {
				top: 1423px;
				left: calc(50% - 240px + 10px);
				height: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600414616543"] {
				top: 1346px;
				left: calc(50% - 160px + 10px);
			}
		}

		#rec230311855 .tn-elem[data-elem-id="1600414630612"] {
			z-index: 34;
			top: 829px;
			left: calc(50% - 600px + 681px);
			width: 4px;
			height: 25px;
		}

		#rec230311855 .tn-elem[data-elem-id="1600414630612"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec230311855 .tn-elem[data-elem-id="1600414630612"] {
				top: 753px;
				left: calc(50% - 480px + 551px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec230311855 .tn-elem[data-elem-id="1600414630612"] {
				top: 1401px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec230311855 .tn-elem[data-elem-id="1600414630612"] {
				top: 1368px;
				left: calc(50% - 240px + 10px);
				height: 25px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec230311855 .tn-elem[data-elem-id="1600414630612"] {
				top: 1291px;
				left: calc(50% - 160px + 10px);
			}
		}
	</style>
	<div class="t396">
		<div class="t396__artboard rendered" data-artboard-recid="230311855" data-artboard-height="1230"
			data-artboard-height-res-960="1100" data-artboard-height-res-640="1670" data-artboard-height-res-480="1680"
			data-artboard-height-res-320="1580" data-artboard-height_vh="" data-artboard-valign="center"
			data-artboard-ovrflw="" data-artboard-proxy-min-offset-top="0" data-artboard-proxy-min-height="1230"
			data-artboard-proxy-max-height="1230">
			<div class="t396__carrier" data-artboard-recid="230311855"></div>
			<div class="t396__filter" data-artboard-recid="230311855"></div>
			<div class="t396__elem tn-elem tn-elem__2303118551600259884498" data-elem-id="1600259884498"
				data-elem-type="text" data-field-top-value="150" data-field-top-res-960-value="140"
				data-field-top-res-640-value="127" data-field-top-res-480-value="110" data-field-top-res-320-value="110"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="660"
				data-field-width-res-640-value="520" data-field-width-res-480-value="340"
				data-field-width-res-320-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 150px; left: 691.5px; width: 660px;">
				<h2 class="tn-atom">
                    {{ elements.19.element_text }}
                </h2>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600259884504" data-elem-id="1600259884504"
				data-elem-type="text" data-field-top-value="241" data-field-top-res-960-value="230"
				data-field-top-res-640-value="218" data-field-top-res-480-value="206" data-field-top-res-320-value="207"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="680"
				data-field-width-res-640-value="590" data-field-width-res-480-value="370"
				data-field-width-res-320-value="280" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 241px; left: 691.5px; width: 680px;">
				<div class="tn-atom" field="tn_text_1600259884504">
                    {{ elements.20.element_text }}
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600259976087" data-elem-id="1600259976087"
				data-elem-type="text" data-field-top-value="753" data-field-top-res-960-value="642"
				data-field-top-res-640-value="628" data-field-top-res-480-value="620" data-field-top-res-320-value="535"
				data-field-left-value="21" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="470"
				data-field-width-res-960-value="370" data-field-width-res-640-value="470"
				data-field-width-res-480-value="410" data-field-width-res-320-value="270" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 753px; left: 692.5px; width: 470px;">
				<div class="tn-atom" field="tn_text_1600259976087">
                    {{ elements.21.element_text }}
                </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600260016254" data-elem-id="1600260016254"
				data-elem-type="text" data-field-top-value="826" data-field-top-res-960-value="750"
				data-field-top-res-640-value="692" data-field-top-res-480-value="681" data-field-top-res-320-value="625"
				data-field-left-value="34" data-field-left-res-960-value="22" data-field-left-res-640-value="30"
				data-field-left-res-480-value="30" data-field-left-res-320-value="20" data-field-width-value="350"
				data-field-width-res-960-value="350" data-field-width-res-640-value="350"
				data-field-width-res-480-value="310" data-field-width-res-320-value="270" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 826px; left: 705.5px; width: 350px;">
				<div class="tn-atom" field="tn_text_1600260016254">
                    {{ elements.22.element_text }}
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600260075895" data-elem-id="1600260075895"
				data-elem-type="text" data-field-top-value="916" data-field-top-res-960-value="840"
				data-field-top-res-640-value="773" data-field-top-res-480-value="757" data-field-top-res-320-value="701"
				data-field-left-value="34" data-field-left-res-960-value="22" data-field-left-res-640-value="30"
				data-field-left-res-480-value="30" data-field-left-res-320-value="20" data-field-width-value="370"
				data-field-width-res-960-value="380" data-field-width-res-640-value="360"
				data-field-width-res-480-value="340" data-field-width-res-320-value="220" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 916px; left: 705.5px; width: 370px;">
				<div class="tn-atom" field="tn_text_1600260075895">
                    {{ elements.23.element_text }}
                </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600260241254" data-elem-id="1600260241254"
				data-elem-type="text" data-field-top-value="753" data-field-top-res-960-value="642"
				data-field-top-res-640-value="1334" data-field-top-res-480-value="1307" data-field-top-res-320-value="1200"
				data-field-left-value="681" data-field-left-res-960-value="551" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="420"
				data-field-width-res-960-value="350" data-field-width-res-640-value="410"
				data-field-width-res-320-value="240" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 753px; left: 1352.5px; width: 420px;">
				<div class="tn-atom" field="tn_text_1600260241254">
                    {{ elements.24.element_text }}
                </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600260241266" data-elem-id="1600260241266"
				data-elem-type="text" data-field-top-value="826" data-field-top-res-960-value="750"
				data-field-top-res-640-value="1398" data-field-top-res-480-value="1367" data-field-top-res-320-value="1290"
				data-field-left-value="694" data-field-left-res-960-value="563" data-field-left-res-640-value="30"
				data-field-left-res-480-value="30" data-field-left-res-320-value="20" data-field-width-value="300"
				data-field-width-res-960-value="320" data-field-width-res-640-value="310"
				data-field-width-res-480-value="290" data-field-width-res-320-value="280" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 826px; left: 1365.5px; width: 300px;">
				<div class="tn-atom" field="tn_text_1600260241266">
                    {{ elements.25.element_text }}
                </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600260241274" data-elem-id="1600260241274"
				data-elem-type="text" data-field-top-value="886" data-field-top-res-960-value="810"
				data-field-top-res-640-value="1448" data-field-top-res-480-value="1416" data-field-top-res-320-value="1339"
				data-field-left-value="694" data-field-left-res-960-value="563" data-field-left-res-640-value="30"
				data-field-left-res-480-value="30" data-field-left-res-320-value="20" data-field-width-value="430"
				data-field-width-res-960-value="310" data-field-width-res-640-value="310"
				data-field-width-res-480-value="270" data-field-width-res-320-value="270" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 886px; left: 1365.5px; width: 430px;">
				<div class="tn-atom" field="tn_text_1600260241274">
                    {{ elements.26.element_text }}
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600261197021" data-elem-id="1600261197021"
				data-elem-type="button" data-field-top-value="998" data-field-top-res-960-value="922"
				data-field-top-res-640-value="845" data-field-top-res-480-value="827" data-field-top-res-320-value="800"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="65"
				data-field-width-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits"
				style="top: 998px; left: 691.5px; width: 300px; height: 65px;">
                <a class="tn-atom" href="#contacts">
                    {{ elements.2.element_text }}
                </a>
            </div>
			<div class="t396__elem tn-elem tn-elem__2303118551600261228882" data-elem-id="1600261228882"
				data-elem-type="button" data-field-top-value="998" data-field-top-res-960-value="922"
				data-field-top-res-640-value="1550" data-field-top-res-480-value="1513" data-field-top-res-320-value="1436"
				data-field-left-value="680" data-field-left-res-960-value="551" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="65"
				data-field-width-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits"
				style="top: 998px; left: 1351.5px; width: 300px; height: 65px;">
                <a class="tn-atom" href="#contacts">
                    {{ elements.2.element_text }}
                </a>
            </div>
			<div class="t396__elem tn-elem tn-elem__2303118551600261800987" data-elem-id="1600261800987"
				data-elem-type="image" data-field-top-value="-183" data-field-top-res-640-value="-164"
				data-field-top-res-480-value="-154" data-field-left-value="1" data-field-left-res-640-value="1"
				data-field-left-res-480-value="1" data-field-width-value="2705" data-field-width-res-480-value="2465"
				data-field-axisy-value="top" data-field-axisx-value="center" data-field-container-value="window"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
				data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: -80px; top: -183px; width: 2705px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6233-3931-4136-a236-613932323535/_14.svg"
						imgfield="tn_img_1600261800987"
						src="https://static.tildacdn.com/tild6233-3931-4136-a236-613932323535/_14.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263134255" data-elem-id="1600263134255"
				data-elem-type="image" data-field-top-value="368" data-field-top-res-960-value="326"
				data-field-top-res-640-value="313" data-field-top-res-320-value="303" data-field-left-value="20"
				data-field-left-res-960-value="9" data-field-left-res-640-value="9" data-field-left-res-320-value="9"
				data-field-width-value="500" data-field-width-res-960-value="420" data-field-width-res-320-value="300"
				data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
				data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 691.5px; top: 368px; width: 500px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3964-6666-4538-b565-623632613335/_6.svg"
						imgfield="tn_img_1600263134255"
						src="https://static.tildacdn.com/tild3964-6666-4538-b565-623632613335/_6.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263134264 t-sbs-anim_started" data-elem-id="1600263134264"
				data-elem-type="image" data-field-top-value="516" data-field-top-res-960-value="461"
				data-field-top-res-640-value="448" data-field-top-res-320-value="402" data-field-left-value="425"
				data-field-left-res-960-value="352" data-field-left-res-640-value="352" data-field-left-res-320-value="254"
				data-field-width-value="90" data-field-width-res-960-value="70" data-field-width-res-320-value="50"
				data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
				data-field-widthunits-value="px" data-animate-mobile="y" data-animate-sbs-event="blockintoview"
				data-animate-sbs-trg="1" data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':10,'my':'0','sx':'1','sy':'1','op':'1','ro':10,'bl':'0','ea':'easeOut','dt':'0'},{'ti':1500,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-960="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':8,'my':'0','sx':'1','sy':'1','op':'1','ro':10,'bl':'0','ea':'easeOut','dt':'0'},{'ti':1500,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-320="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':3,'my':'0','sx':'1','sy':'1','op':'1','ro':6,'bl':'0','ea':'easeOut','dt':'0'},{'ti':1500,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1096.5px; top: 516px; width: 90px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6262-6464-4632-b162-373438376338/_7.svg"
							imgfield="tn_img_1600263134264"
							src="https://static.tildacdn.com/tild6262-6464-4632-b162-373438376338/_7.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263134273 t-sbs-anim_started" data-elem-id="1600263134273"
				data-elem-type="image" data-field-top-value="577" data-field-top-res-960-value="505"
				data-field-top-res-640-value="492" data-field-top-res-320-value="429" data-field-left-value="247"
				data-field-left-res-960-value="199" data-field-left-res-640-value="199" data-field-left-res-320-value="145"
				data-field-width-value="5" data-field-width-res-320-value="3" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':0,'my':40,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'easeIn','dt':'0'},{'ti':'1000','mx':0,'my':40,'sx':'1','sy':'1','op':0,'ro':'0','bl':'0','ea':'','dt':'0'},{'ti':200,'mx':0,'my':40,'sx':'1','sy':'1','op':1,'ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-320="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':0,'my':30,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'easeIn','dt':'0'},{'ti':'1000','mx':0,'my':30,'sx':'1','sy':'1','op':0,'ro':'0','bl':'0','ea':'','dt':'0'},{'ti':200,'mx':0,'my':30,'sx':'1','sy':'1','op':1,'ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 918.5px; top: 577px; width: 5px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3463-3334-4461-a461-383766313435/_8.svg"
							imgfield="tn_img_1600263134273"
							src="https://static.tildacdn.com/tild3463-3334-4461-a461-383766313435/_8.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263210619" data-elem-id="1600263210619"
				data-elem-type="image" data-field-top-value="371" data-field-top-res-960-value="310"
				data-field-top-res-640-value="991" data-field-top-res-480-value="973" data-field-top-res-320-value="945"
				data-field-left-value="677" data-field-left-res-960-value="529" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="450"
				data-field-width-res-960-value="400" data-field-width-res-640-value="410"
				data-field-width-res-320-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1348.5px; top: 371px; width: 450px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3132-6331-4363-b532-343865373163/_9.svg"
						imgfield="tn_img_1600263210619"
						src="https://static.tildacdn.com/tild3132-6331-4363-b532-343865373163/_9.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263225874 t-sbs-anim_started" data-elem-id="1600263225874"
				data-elem-type="image" data-field-top-value="522" data-field-top-res-960-value="436"
				data-field-top-res-640-value="1131" data-field-top-res-480-value="1113" data-field-top-res-320-value="1030"
				data-field-left-value="737" data-field-left-res-960-value="588" data-field-left-res-640-value="60"
				data-field-left-res-480-value="60" data-field-left-res-320-value="48" data-field-width-value="54"
				data-field-width-res-960-value="44" data-field-width-res-320-value="40" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':4,'my':-1,'sx':'1','sy':'1','op':'1','ro':45,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':7,'my':1,'sx':'1','sy':'1','op':'1','ro':90,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':8,'my':5,'sx':'1','sy':'1','op':'1','ro':135,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':6,'my':8,'sx':'1','sy':'1','op':'1','ro':180,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':2,'my':9,'sx':'1','sy':'1','op':'1','ro':225,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':-1,'my':7,'sx':'1','sy':'1','op':'1','ro':270,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':-2,'my':3,'sx':'1','sy':'1','op':'1','ro':315,'bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1408.5px; top: 522px; width: 54px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3431-3061-4436-b962-643239306231/_11.svg"
							imgfield="tn_img_1600263225874"
							src="https://static.tildacdn.com/tild3431-3061-4436-b962-643239306231/_11.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263970481 t-sbs-anim_started" data-elem-id="1600263970481"
				data-elem-type="image" data-field-top-value="515" data-field-top-res-960-value="435"
				data-field-top-res-640-value="1133" data-field-top-res-480-value="1115" data-field-top-res-320-value="1032"
				data-field-left-value="690" data-field-left-res-960-value="550" data-field-left-res-640-value="21"
				data-field-left-res-480-value="21" data-field-left-res-320-value="11" data-field-width-value="38"
				data-field-width-res-960-value="28" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-mobile="y"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':-20,'my':-20,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':1000},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-960="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':-10,'my':-20,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':1000},{'ti':2000,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1361.5px; top: 515px; width: 38px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6463-3661-4932-b630-336161666563/_10.svg"
							imgfield="tn_img_1600263970481"
							src="https://static.tildacdn.com/tild6463-3661-4932-b630-336161666563/_10.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600263997899 t-sbs-anim_started" data-elem-id="1600263997899"
				data-elem-type="image" data-field-top-value="465" data-field-top-res-960-value="395"
				data-field-top-res-640-value="1093" data-field-top-res-480-value="1075" data-field-top-res-320-value="994"
				data-field-left-value="790" data-field-left-res-960-value="630" data-field-left-res-640-value="101"
				data-field-left-res-480-value="101" data-field-left-res-320-value="81" data-field-width-value="50"
				data-field-width-res-960-value="35" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-mobile="y"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1800,'mx':0,'my':-20,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1800,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-animate-sbs-opts-res-960="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1800,'mx':0,'my':-10,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1800,'mx':0,'my':0,'sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1461.5px; top: 465px; width: 50px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6463-3661-4932-b630-336161666563/_10.svg"
							imgfield="tn_img_1600263997899"
							src="https://static.tildacdn.com/tild6463-3661-4932-b630-336161666563/_10.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600264035793 t-sbs-anim_started" data-elem-id="1600264035793"
				data-elem-type="image" data-field-top-value="615" data-field-top-res-960-value="530"
				data-field-top-res-640-value="1221" data-field-top-res-480-value="1203" data-field-top-res-320-value="1110"
				data-field-left-value="960" data-field-left-res-960-value="780" data-field-left-res-640-value="270"
				data-field-left-res-480-value="270" data-field-left-res-320-value="200" data-field-width-value="50"
				data-field-width-res-320-value="40" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-mobile="y"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':5000,'mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1631.5px; top: 615px; width: 50px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"><img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6463-3661-4932-b630-336161666563/_10.svg"
							imgfield="tn_img_1600264035793"
							src="https://static.tildacdn.com/tild6463-3661-4932-b630-336161666563/_10.svg">
					</div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600414484260" data-elem-id="1600414484260"
				data-elem-type="shape" data-field-top-value="831" data-field-top-res-960-value="755"
				data-field-top-res-640-value="697" data-field-top-res-480-value="688" data-field-top-res-320-value="632"
				data-field-left-value="21" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="50"
				data-field-height-res-480-value="40" data-field-width-value="4" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 692.5px; top: 831px; height: 50px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600414516644" data-elem-id="1600414516644"
				data-elem-type="shape" data-field-top-value="919" data-field-top-res-960-value="843"
				data-field-top-res-640-value="776" data-field-top-res-480-value="758" data-field-top-res-320-value="708"
				data-field-left-value="21" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="25"
				data-field-height-res-480-value="25" data-field-height-res-320-value="40" data-field-width-value="4"
				data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px"
				data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 692.5px; top: 919px; height: 25px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600414616543" data-elem-id="1600414616543"
				data-elem-type="shape" data-field-top-value="891" data-field-top-res-960-value="815"
				data-field-top-res-640-value="1453" data-field-top-res-480-value="1423" data-field-top-res-320-value="1346"
				data-field-left-value="681" data-field-left-res-960-value="551" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="50"
				data-field-height-res-480-value="40" data-field-width-value="4" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 1352.5px; top: 891px; height: 50px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2303118551600414630612" data-elem-id="1600414630612"
				data-elem-type="shape" data-field-top-value="829" data-field-top-res-960-value="753"
				data-field-top-res-640-value="1401" data-field-top-res-480-value="1368" data-field-top-res-320-value="1291"
				data-field-left-value="681" data-field-left-res-960-value="551" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="25"
				data-field-height-res-480-value="25" data-field-width-value="4" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 1352.5px; top: 829px; height: 25px;">
				<div class="tn-atom"></div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			t396_init('230311855');
		});
	</script><!-- /T396 -->
</div>