<div id="rec229470229" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
	<!-- T396 -->
	<style>
		#rec229470229 .t396__artboard {
			height: 980px;
			background-color: #ffffff;
		}

		#rec229470229 .t396__filter {
			height: 980px;
		}

		#rec229470229 .t396__carrier {
			height: 980px;
			background-position: center center;
			background-attachment: scroll;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .t396__artboard {
				height: 900px;
			}

			#rec229470229 .t396__filter {
				height: 900px;
			}

			#rec229470229 .t396__carrier {
				height: 900px;
				background-attachment: scroll;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .t396__artboard {
				height: 1230px;
			}

			#rec229470229 .t396__filter {
				height: 1230px;
			}

			#rec229470229 .t396__carrier {
				height: 1230px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .t396__artboard {
				height: 1020px;
			}

			#rec229470229 .t396__filter {
				height: 1020px;
			}

			#rec229470229 .t396__carrier {
				height: 1020px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .t396__artboard {
				height: 990px;
			}

			#rec229470229 .t396__filter {
				height: 990px;
			}

			#rec229470229 .t396__carrier {
				height: 990px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600068455807"] {
			color: #707070;
			z-index: 6;
			top: 396px;
			left: calc(50% - 600px + 132px);
			width: 260px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600068455807"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600068455807"] {
				top: 375px;
				left: calc(50% - 480px + 72px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600068455807"] {
				top: 516px;
				left: calc(50% - 320px + 72px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600068455807"] {
				top: 363px;
				left: calc(50% - 240px + 72px);
			}

			#rec229470229 .tn-elem[data-elem-id="1600068455807"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600068455807"] {
				top: 356px;
				left: calc(50% - 160px + 52px);
				width: 220px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600081755749"] {
			color: #707070;
			z-index: 7;
			top: 396px;
			left: calc(50% - 600px + 500px);
			width: 330px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600081755749"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600081755749"] {
				top: 375px;
				left: calc(50% - 480px + 440px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600081755749"] {
				top: 616px;
				left: calc(50% - 320px + 72px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600081755749"] {
				top: 448px;
				left: calc(50% - 240px + 72px);
				width: 280px;
			}

			#rec229470229 .tn-elem[data-elem-id="1600081755749"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600081755749"] {
				top: 441px;
				left: calc(50% - 160px + 52px);
				width: 230px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600081786554"] {
			color: #707070;
			z-index: 8;
			top: 516px;
			left: calc(50% - 600px + 132px);
			width: 260px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600081786554"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600081786554"] {
				top: 495px;
				left: calc(50% - 480px + 72px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600081786554"] {
				top: 716px;
				left: calc(50% - 320px + 72px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600081786554"] {
				top: 534px;
				left: calc(50% - 240px + 72px);
			}

			#rec229470229 .tn-elem[data-elem-id="1600081786554"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600081786554"] {
				top: 553px;
				left: calc(50% - 160px + 52px);
				width: 220px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600081827366"] {
			color: #707070;
			z-index: 9;
			top: 516px;
			left: calc(50% - 600px + 500px);
			width: 260px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600081827366"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600081827366"] {
				top: 495px;
				left: calc(50% - 480px + 440px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600081827366"] {
				top: 816px;
				left: calc(50% - 320px + 72px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600081827366"] {
				top: 619px;
				left: calc(50% - 240px + 72px);
			}

			#rec229470229 .tn-elem[data-elem-id="1600081827366"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600081827366"] {
				top: 639px;
				left: calc(50% - 160px + 52px);
				width: 240px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600081906682"] {
			z-index: 5;
			top: 307px;
			left: calc(50% - 600px + 21px);
			width: 899px;
			height: 505px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600081906682"] .tn-atom {
			background-color: #fafafa;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600081906682"] {
				top: 306px;
				left: calc(50% - 480px + 10px);
				width: 780px;
				height: 465px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600081906682"] {
				top: 447px;
				left: calc(50% - 320px + 10px);
				width: 430px;
				height: 664px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600081906682"] {
				top: 294px;
				left: calc(50% - 240px + 10px);
				width: 380px;
				height: 597px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600081906682"] {
				top: 307px;
				left: calc(50% - 160px + 10px);
				width: 300px;
				height: 560px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600082692419"] {
			z-index: 10;
			top: 307px;
			left: calc(50% - 600px + 869px);
			width: 200px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600082692419"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600082692419"] {
				top: 326px;
				left: calc(50% - 480px + 739px);
				width: 180px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600082692419"] {
				top: 507px;
				left: calc(50% - 320px + 393px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600082692419"] {
				top: 394px;
				left: calc(50% - 240px + 343px);
				width: 150px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600082692419"] {
				top: 105px;
				left: calc(50% - 160px + 889px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600082972332"] {
			z-index: 2;
			top: 397px;
			left: calc(50% - 600px + 820px);
			width: 280px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600082972332"] .tn-atom {
			-webkit-transform: rotate(14deg);
			-moz-transform: rotate(14deg);
			transform: rotate(14deg);
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600082972332"] {
				top: 376px;
				left: calc(50% - 480px + 690px);
				width: 260px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600082972332"] {
				top: 557px;
				left: calc(50% - 320px + 344px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600082972332"] {
				top: 494px;
				left: calc(50% - 240px + 294px);
				width: 230px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600082972332"] {
				top: 205px;
				left: calc(50% - 160px + 840px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600083000787"] {
			z-index: 3;
			top: 527px;
			left: calc(50% - 600px + 860px);
			width: 190px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600083000787"] .tn-atom {
			-webkit-transform: rotate(20deg);
			-moz-transform: rotate(20deg);
			transform: rotate(20deg);
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600083000787"] {
				top: 506px;
				left: calc(50% - 480px + 730px);
				width: 180px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600083000787"] {
				top: 687px;
				left: calc(50% - 320px + 384px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600083000787"] {
				top: 624px;
				left: calc(50% - 240px + 334px);
				width: 150px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600083000787"] {
				top: 335px;
				left: calc(50% - 160px + 880px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600087876967"] {
			color: #7aba02;
			text-align: center;
			z-index: 11;
			top: 647px;
			left: calc(50% - 600px + 121px);
			width: 300px;
			height: 65px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600087876967"] .tn-atom {
			color: #7aba02;
			font-size: 16px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.55;
			font-weight: 500;
			letter-spacing: 0.5px;
			border-width: 2px;
			background-position: center center;
			border-color: #7aba02;
			border-style: solid;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		}

		#rec229470229 .tn-elem[data-elem-id="1600087876967"] .tn-atom:hover {
			background-color: #7aba02;
			border-color: #7aba02;
			color: #ffffff;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600087876967"] {
				top: 626px;
				left: calc(50% - 480px + 71px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600087876967"] {
				top: 947px;
				left: calc(50% - 320px + 57px);
				width: 310px;
				height: 65px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600087876967"] {
				top: 726px;
				left: calc(50% - 240px + 51px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600087876967"] {
				top: 744px;
				left: calc(50% - 160px + 36px);
				width: 250px;
				height: 65px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600089693521"] {
			z-index: 4;
			top: 407px;
			left: calc(50% - 600px + -120px);
			width: 300px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600089693521"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600089693521"] {
				top: 423px;
				left: calc(50% - 480px + -90px);
				width: 260px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600089693521"] {
				top: 335px;
				left: calc(50% - 320px + -850px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600089693521"] {
				top: 345px;
				left: calc(50% - 240px + -910px);
				width: 230px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600089693521"] {
				top: 115px;
				left: calc(50% - 160px + -600px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600090073938"] {
			z-index: 12;
			top: 627px;
			left: calc(50% - 600px + 560px);
			width: 200px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600090073938"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600090073938"] {
				top: 606px;
				left: calc(50% - 480px + 470px);
				width: 170px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600090073938"] {
				top: -215px;
				left: calc(50% - 320px + 700px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600090073938"] {
				top: 75px;
				left: calc(50% - 240px + 700px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600090073938"] {
				top: 445px;
				left: calc(50% - 160px + 700px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600162935662"] {
			color: #253c77;
			z-index: 13;
			top: 110px;
			left: calc(50% - 600px + 20px);
			width: 660px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600162935662"] .tn-atom {
			color: #253c77;
			font-size: 46px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.25;
			font-weight: 700;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935662"] {
				top: 110px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935662"] {
				top: 177px;
				left: calc(50% - 320px + 10px);
				width: 440px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935662"] {
				top: 90px;
				left: calc(50% - 240px + 10px);
				width: 340px;
			}

			#rec229470229 .tn-elem[data-elem-id="1600162935662"] .tn-atom {
				font-size: 30px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935662"] {
				top: 100px;
				left: calc(50% - 160px + 10px);
				width: 300px;
			}

			#rec229470229 .tn-elem[data-elem-id="1600162935662"] .tn-atom {
				font-size: 30px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600162935667"] {
			color: #707070;
			z-index: 14;
			top: 201px;
			left: calc(50% - 600px + 20px);
			width: 680px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600162935667"] .tn-atom {
			color: #707070;
			font-size: 22px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.6;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935667"] {
				top: 200px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935667"] {
				top: 325px;
				left: calc(50% - 320px + 10px);
				width: 460px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935667"] {
				top: 186px;
				left: calc(50% - 240px + 10px);
				width: 370px;
			}

			#rec229470229 .tn-elem[data-elem-id="1600162935667"] .tn-atom {
				font-size: 18px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600162935667"] {
				top: 197px;
				left: calc(50% - 160px + 10px);
				width: 300px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600162954928"] {
			color: #707070;
			z-index: 15;
			top: 42px;
			left: calc(50% - 600px + 20px);
			width: 80px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600162954928"] .tn-atom {
			color: #707070;
			font-size: 14px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.6;
			font-weight: 700;
			letter-spacing: 0.5px;
			opacity: 0.6;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600162954928"] {
				top: 48px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600162954928"] {
				top: 115px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600162954928"] {
				top: 44px;
				left: calc(50% - 240px + 10px);
				width: 130px;
			}

			#rec229470229 .tn-elem[data-elem-id="1600162954928"] .tn-atom {
				font-size: 14px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600162954928"] {
				top: 52px;
				left: calc(50% - 160px + 10px);
				width: 300px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600163070992"] {
			z-index: 16;
			top: 401px;
			left: calc(50% - 600px + 118px);
			width: 4px;
			height: 50px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600163070992"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600163070992"] {
				top: 380px;
				left: calc(50% - 480px + 58px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600163070992"] {
				top: 521px;
				left: calc(50% - 320px + 57px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600163070992"] {
				top: 370px;
				left: calc(50% - 240px + 51px);
				height: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600163070992"] {
				top: 363px;
				left: calc(50% - 160px + 37px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600163107792"] {
			z-index: 17;
			top: 521px;
			left: calc(50% - 600px + 118px);
			width: 4px;
			height: 50px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600163107792"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600163107792"] {
				top: 500px;
				left: calc(50% - 480px + 58px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600163107792"] {
				top: 621px;
				left: calc(50% - 320px + 57px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600163107792"] {
				top: 455px;
				left: calc(50% - 240px + 51px);
				height: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600163107792"] {
				top: 449px;
				left: calc(50% - 160px + 36px);
				height: 65px;
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600163119174"] {
			z-index: 18;
			top: 401px;
			left: calc(50% - 600px + 488px);
			width: 4px;
			height: 50px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600163119174"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119174"] {
				top: 380px;
				left: calc(50% - 480px + 428px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119174"] {
				top: 721px;
				left: calc(50% - 320px + 57px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119174"] {
				top: 541px;
				left: calc(50% - 240px + 51px);
				height: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119174"] {
				top: 560px;
				left: calc(50% - 160px + 37px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600163119181"] {
			z-index: 19;
			top: 521px;
			left: calc(50% - 600px + 488px);
			width: 4px;
			height: 50px;
		}

		#rec229470229 .tn-elem[data-elem-id="1600163119181"] .tn-atom {
			background-color: #8cca11;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119181"] {
				top: 500px;
				left: calc(50% - 480px + 428px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119181"] {
				top: 821px;
				left: calc(50% - 320px + 57px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119181"] {
				top: 626px;
				left: calc(50% - 240px + 51px);
				height: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600163119181"] {
				top: 646px;
				left: calc(50% - 160px + 37px);
			}
		}

		#rec229470229 .tn-elem[data-elem-id="1600328908203"] {
			z-index: 20;
			top: calc(980px + 140px);
			left: calc(50% - 1352.5px + 1px);
			width: 2705px;
			pointer-events: none;
		}

		#rec229470229 .tn-elem[data-elem-id="1600328908203"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229470229 .tn-elem[data-elem-id="1600328908203"] {
				top: calc(900px + 170px);
				left: calc(50% - 1202.5px + 1px);
				width: 2405px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229470229 .tn-elem[data-elem-id="1600328908203"] {
				top: calc(1230px + 143px);
				left: calc(50% - 1007.5px + 1px);
				width: 2015px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229470229 .tn-elem[data-elem-id="1600328908203"] {
				top: calc(1020px + 133px);
				left: calc(50% - 1007.5px + 1px);
			}
		}

		@media screen and (max-width: 479px) {
			#rec229470229 .tn-elem[data-elem-id="1600328908203"] {
				top: calc(990px + 63px);
				left: calc(50% - 562.5px + 1px);
				width: 1125px;
			}
		}
	</style>
	<div class="t396">
		<div class="t396__artboard rendered" data-artboard-recid="229470229" data-artboard-height="980"
			data-artboard-height-res-960="900" data-artboard-height-res-640="1230" data-artboard-height-res-480="1020"
			data-artboard-height-res-320="990" data-artboard-height_vh="" data-artboard-valign="center"
			data-artboard-ovrflw="" data-artboard-proxy-min-offset-top="0" data-artboard-proxy-min-height="980"
			data-artboard-proxy-max-height="980">
			<div class="t396__carrier" data-artboard-recid="229470229"></div>
			<div class="t396__filter" data-artboard-recid="229470229"></div>
			<div class="t396__elem tn-elem tn-elem__2294702291600068455807" data-elem-id="1600068455807"
				data-elem-type="text" data-field-top-value="396" data-field-top-res-960-value="375"
				data-field-top-res-640-value="516" data-field-top-res-480-value="363" data-field-top-res-320-value="356"
				data-field-left-value="132" data-field-left-res-960-value="72" data-field-left-res-640-value="72"
				data-field-left-res-480-value="72" data-field-left-res-320-value="52" data-field-width-value="260"
				data-field-width-res-320-value="220" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 396px; left: 803.5px; width: 260px;">
				<div class="tn-atom" field="tn_text_1600068455807"><span
						style="color: rgb(37, 60, 119); font-weight: 500;">Самый инновационный банк</span> по&nbsp;версии
					SME Banking Club
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600081755749" data-elem-id="1600081755749"
				data-elem-type="text" data-field-top-value="396" data-field-top-res-960-value="375"
				data-field-top-res-640-value="616" data-field-top-res-480-value="448" data-field-top-res-320-value="441"
				data-field-left-value="500" data-field-left-res-960-value="440" data-field-left-res-640-value="72"
				data-field-left-res-480-value="72" data-field-left-res-320-value="52" data-field-width-value="330"
				data-field-width-res-480-value="280" data-field-width-res-320-value="230" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 396px; left: 1171.5px; width: 330px;">
				<div class="tn-atom" field="tn_text_1600081755749">С&nbsp;нами <span
						style="font-weight: 500; color: rgb(37, 60, 119);">200 000 успешных</span> предпринимателей
					по&nbsp;всей
					России
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600081786554" data-elem-id="1600081786554"
				data-elem-type="text" data-field-top-value="516" data-field-top-res-960-value="495"
				data-field-top-res-640-value="716" data-field-top-res-480-value="534" data-field-top-res-320-value="553"
				data-field-left-value="132" data-field-left-res-960-value="72" data-field-left-res-640-value="72"
				data-field-left-res-480-value="72" data-field-left-res-320-value="52" data-field-width-value="260"
				data-field-width-res-320-value="220" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 516px; left: 803.5px; width: 260px;">
				<div class="tn-atom" field="tn_text_1600081786554"><span
						style="font-weight: 500; color: rgb(37, 60, 119);">Помогаем вести бизнес</span> и&nbsp;поддерживаем
					в&nbsp;кризис
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600081827366" data-elem-id="1600081827366"
				data-elem-type="text" data-field-top-value="516" data-field-top-res-960-value="495"
				data-field-top-res-640-value="816" data-field-top-res-480-value="619" data-field-top-res-320-value="639"
				data-field-left-value="500" data-field-left-res-960-value="440" data-field-left-res-640-value="72"
				data-field-left-res-480-value="72" data-field-left-res-320-value="52" data-field-width-value="260"
				data-field-width-res-320-value="240" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 516px; left: 1171.5px; width: 260px;">
				<div class="tn-atom" field="tn_text_1600081827366"><span
						style="font-weight: 500; color: rgb(37, 60, 119);">84%</span> наших клиентов готовы советовать
					банк друзьям
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600081906682" data-elem-id="1600081906682"
				data-elem-type="shape" data-field-top-value="307" data-field-top-res-960-value="306"
				data-field-top-res-640-value="447" data-field-top-res-480-value="294" data-field-top-res-320-value="307"
				data-field-left-value="21" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-height-value="505"
				data-field-height-res-960-value="465" data-field-height-res-640-value="664"
				data-field-height-res-480-value="597" data-field-height-res-320-value="560" data-field-width-value="899"
				data-field-width-res-960-value="780" data-field-width-res-640-value="430"
				data-field-width-res-480-value="380" data-field-width-res-320-value="300" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 899px; left: 692.5px; top: 307px; height: 505px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600082692419" data-elem-id="1600082692419"
				data-elem-type="image" data-field-top-value="307" data-field-top-res-960-value="326"
				data-field-top-res-640-value="507" data-field-top-res-480-value="394" data-field-top-res-320-value="105"
				data-field-left-value="869" data-field-left-res-960-value="739" data-field-left-res-640-value="393"
				data-field-left-res-480-value="343" data-field-left-res-320-value="889" data-field-width-value="200"
				data-field-width-res-960-value="180" data-field-width-res-480-value="150" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1540.5px; top: 307px; width: 200px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6334-6631-4630-b062-333362346135/_48.svg"
						imgfield="tn_img_1600082692419"
						src="https://static.tildacdn.com/tild6334-6631-4630-b062-333362346135/_48.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600082972332 t-sbs-anim_started" data-elem-id="1600082972332"
				data-elem-type="image" data-field-top-value="397" data-field-top-res-960-value="376"
				data-field-top-res-640-value="557" data-field-top-res-480-value="494" data-field-top-res-320-value="205"
				data-field-left-value="820" data-field-left-res-960-value="690" data-field-left-res-640-value="344"
				data-field-left-res-480-value="294" data-field-left-res-320-value="840" data-field-width-value="280"
				data-field-width-res-960-value="260" data-field-width-res-480-value="230" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':3000,'mx':20,'my':'0','sx':'1','sy':'1','op':'1','ro':10,'bl':'0','ea':'','dt':'0'},{'ti':3000,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1491.5px; top: 397px; width: 280px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6232-6162-4263-a531-656135666235/_53.svg"
						imgfield="tn_img_1600082972332"
						src="https://static.tildacdn.com/tild6232-6162-4263-a531-656135666235/_53.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600083000787 t-sbs-anim_started" data-elem-id="1600083000787"
				data-elem-type="image" data-field-top-value="527" data-field-top-res-960-value="506"
				data-field-top-res-640-value="687" data-field-top-res-480-value="624" data-field-top-res-320-value="335"
				data-field-left-value="860" data-field-left-res-960-value="730" data-field-left-res-640-value="384"
				data-field-left-res-480-value="334" data-field-left-res-320-value="880" data-field-width-value="190"
				data-field-width-res-960-value="180" data-field-width-res-480-value="150" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':-20,'my':'0','sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1531.5px; top: 527px; width: 190px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3134-6139-4162-a139-363330333066/_54.svg"
						imgfield="tn_img_1600083000787"
						src="https://static.tildacdn.com/tild3134-6139-4162-a139-363330333066/_54.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600087876967" data-elem-id="1600087876967"
				data-elem-type="button" data-field-top-value="647" data-field-top-res-960-value="626"
				data-field-top-res-640-value="947" data-field-top-res-480-value="726" data-field-top-res-320-value="744"
				data-field-left-value="121" data-field-left-res-960-value="71" data-field-left-res-640-value="57"
				data-field-left-res-480-value="51" data-field-left-res-320-value="36" data-field-height-value="65"
				data-field-height-res-640-value="65" data-field-height-res-320-value="65" data-field-width-value="300"
				data-field-width-res-640-value="310" data-field-width-res-320-value="250" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value=""
				data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits"
				style="top: 647px; left: 792.5px; width: 300px; height: 65px;"><a class="tn-atom"
					href="https://modulbank.ru/obanke/" target="_blank">Узнать больше о
					банке</a></div>
			<div class="t396__elem tn-elem tn-elem__2294702291600089693521 t-sbs-anim_started" data-elem-id="1600089693521"
				data-elem-type="image" data-field-top-value="407" data-field-top-res-960-value="423"
				data-field-top-res-640-value="335" data-field-top-res-480-value="345" data-field-top-res-320-value="115"
				data-field-left-value="-120" data-field-left-res-960-value="-90" data-field-left-res-640-value="-850"
				data-field-left-res-480-value="-910" data-field-left-res-320-value="-600" data-field-width-value="300"
				data-field-width-res-960-value="260" data-field-width-res-480-value="230" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':-15,'my':'0','sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'easeInOut','dt':'0'},{'ti':2000,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 551.5px; top: 407px; width: 300px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3034-3738-4233-b066-653939306432/_62.svg"
						imgfield="tn_img_1600089693521"
						src="https://static.tildacdn.com/tild3034-3738-4233-b066-653939306432/_62.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600090073938" data-elem-id="1600090073938"
				data-elem-type="image" data-field-top-value="627" data-field-top-res-960-value="606"
				data-field-top-res-640-value="-215" data-field-top-res-480-value="75" data-field-top-res-320-value="445"
				data-field-left-value="560" data-field-left-res-960-value="470" data-field-left-res-640-value="700"
				data-field-left-res-480-value="700" data-field-left-res-320-value="700" data-field-width-value="200"
				data-field-width-res-960-value="170" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1231.5px; top: 627px; width: 200px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6665-6664-4332-b666-363765306364/_63.svg"
						imgfield="tn_img_1600090073938"
						src="https://static.tildacdn.com/tild6665-6664-4332-b666-363765306364/_63.svg">
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600162935662" data-elem-id="1600162935662"
				data-elem-type="text" data-field-top-value="110" data-field-top-res-960-value="110"
				data-field-top-res-640-value="177" data-field-top-res-480-value="90" data-field-top-res-320-value="100"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="660"
				data-field-width-res-640-value="440" data-field-width-res-480-value="340"
				data-field-width-res-320-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 110px; left: 691.5px; width: 660px;">
				<h2 class="tn-atom">Работаем только
					с&nbsp;бизнесом</h2>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600162935667" data-elem-id="1600162935667"
				data-elem-type="text" data-field-top-value="201" data-field-top-res-960-value="200"
				data-field-top-res-640-value="325" data-field-top-res-480-value="186" data-field-top-res-320-value="197"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="680"
				data-field-width-res-640-value="460" data-field-width-res-480-value="370"
				data-field-width-res-320-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 201px; left: 691.5px; width: 680px;">
				<div class="tn-atom" field="tn_text_1600162935667">С&nbsp;нами комфортно вести дела, не&nbsp;отвлекаясь
					на&nbsp;бюрократию
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600162954928" data-elem-id="1600162954928"
				data-elem-type="text" data-field-top-value="42" data-field-top-res-960-value="48"
				data-field-top-res-640-value="115" data-field-top-res-480-value="44" data-field-top-res-320-value="52"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="80"
				data-field-width-res-480-value="130" data-field-width-res-320-value="300" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 42px; left: 691.5px; width: 80px;">
				<div class="tn-atom" field="tn_text_1600162954928">КТО МЫ?</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600163070992" data-elem-id="1600163070992"
				data-elem-type="shape" data-field-top-value="401" data-field-top-res-960-value="380"
				data-field-top-res-640-value="521" data-field-top-res-480-value="370" data-field-top-res-320-value="363"
				data-field-left-value="118" data-field-left-res-960-value="58" data-field-left-res-640-value="57"
				data-field-left-res-480-value="51" data-field-left-res-320-value="37" data-field-height-value="50"
				data-field-height-res-480-value="40" data-field-width-value="4" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 789.5px; top: 401px; height: 50px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600163107792" data-elem-id="1600163107792"
				data-elem-type="shape" data-field-top-value="521" data-field-top-res-960-value="500"
				data-field-top-res-640-value="621" data-field-top-res-480-value="455" data-field-top-res-320-value="449"
				data-field-left-value="118" data-field-left-res-960-value="58" data-field-left-res-640-value="57"
				data-field-left-res-480-value="51" data-field-left-res-320-value="36" data-field-height-value="50"
				data-field-height-res-480-value="40" data-field-height-res-320-value="65" data-field-width-value="4"
				data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px"
				data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 789.5px; top: 521px; height: 50px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600163119174" data-elem-id="1600163119174"
				data-elem-type="shape" data-field-top-value="401" data-field-top-res-960-value="380"
				data-field-top-res-640-value="721" data-field-top-res-480-value="541" data-field-top-res-320-value="560"
				data-field-left-value="488" data-field-left-res-960-value="428" data-field-left-res-640-value="57"
				data-field-left-res-480-value="51" data-field-left-res-320-value="37" data-field-height-value="50"
				data-field-height-res-480-value="40" data-field-width-value="4" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 1159.5px; top: 401px; height: 50px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600163119181" data-elem-id="1600163119181"
				data-elem-type="shape" data-field-top-value="521" data-field-top-res-960-value="500"
				data-field-top-res-640-value="821" data-field-top-res-480-value="626" data-field-top-res-320-value="646"
				data-field-left-value="488" data-field-left-res-960-value="428" data-field-left-res-640-value="57"
				data-field-left-res-480-value="51" data-field-left-res-320-value="37" data-field-height-value="50"
				data-field-height-res-480-value="40" data-field-width-value="4" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
				data-fields="width,height,top,left,container,axisx,axisy,widthunits,heightunits,leftunits,topunits"
				style="width: 4px; left: 1159.5px; top: 521px; height: 50px;">
				<div class="tn-atom"></div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2294702291600328908203" data-elem-id="1600328908203"
				data-elem-type="image" data-field-top-value="140" data-field-top-res-960-value="170"
				data-field-top-res-640-value="143" data-field-top-res-480-value="133" data-field-top-res-320-value="63"
				data-field-left-value="1" data-field-left-res-960-value="1" data-field-left-res-640-value="1"
				data-field-left-res-480-value="1" data-field-left-res-320-value="1" data-field-width-value="2705"
				data-field-width-res-960-value="2405" data-field-width-res-640-value="2015"
				data-field-width-res-320-value="1125" data-field-axisy-value="bottom" data-field-axisx-value="center"
				data-field-container-value="window" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: -80px; top: 868px; width: 2705px;">
				<div class="tn-atom"><img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6233-3931-4136-a236-613932323535/_14.svg"
						imgfield="tn_img_1600328908203"
						src="https://static.tildacdn.com/tild6233-3931-4136-a236-613932323535/_14.svg">
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			t396_init('229470229');
		});
	</script><!-- /T396 -->
</div>