<div id="rec228821292" class="r t-rec t-rec_pt_75 t-rec_pt-res-480_45 t-rec_pb_60"
	style="padding-top:75px;padding-bottom:60px;background-color:#fafafa; " data-record-type="255"
	data-bg-color="#fafafa" data-animationappear="off">
	<!-- T225 -->
	<div class="t225">
		<div class="t-container t-align_left">
			<div class="t-col t-col_12 ">
				<div class="t225__uptitle t-uptitle t-uptitle_sm" field="subtitle"
					style="color:#707070;font-size:14px;font-weight:700;font-family:'Roboto';text-transform:uppercase;letter-spacing:1px;opacity:0.50;">
					ПОДХОДИТ ВСЕМ</div>
				<h2 class="t225__title t-title t-title_md" field="title"
					style="color:#253c77;font-size:46px;font-weight:700;font-family:'Roboto';">Кто может стать партнёром
					Модульбанка</h2>
				<div class="t225__descr t-descr t-descr_xxl" field="descr"
					style="color:#707070;font-size:22px;font-weight:400;">Подходит всем, кто хочет зарабатывать больше</div>
			</div>
		</div>
	</div>
</div>
<div id="rec229560343" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
	<!-- T396 -->
	<style>
		#rec229560343 .t396__artboard {
			height: 1480px;
			background-color: #fafafa;
		}

		#rec229560343 .t396__filter {
			height: 1480px;
		}

		#rec229560343 .t396__carrier {
			height: 1480px;
			background-position: center center;
			background-attachment: scroll;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .t396__artboard {
				height: 1450px;
			}

			#rec229560343 .t396__filter {
				height: 1450px;
			}

			#rec229560343 .t396__carrier {
				height: 1450px;
				background-attachment: scroll;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .t396__artboard {
				height: 1900px;
			}

			#rec229560343 .t396__filter {
				height: 1900px;
			}

			#rec229560343 .t396__carrier {
				height: 1900px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .t396__artboard {
				height: 1450px;
			}

			#rec229560343 .t396__filter {
				height: 1450px;
			}

			#rec229560343 .t396__carrier {
				height: 1450px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .t396__artboard {
				height: 1490px;
			}

			#rec229560343 .t396__filter {
				height: 1490px;
			}

			#rec229560343 .t396__carrier {
				height: 1490px;
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600068455803"] {
			color: #253c77;
			z-index: 6;
			top: 210px;
			left: calc(50% - 600px + 681px);
			width: 280px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600068455803"] .tn-atom {
			color: #253c77;
			font-size: 24px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.45;
			font-weight: 500;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600068455803"] {
				top: 220px;
				left: calc(50% - 480px + 551px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600068455803"] {
				top: 480px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600068455803"] {
				top: 357px;
				left: calc(50% - 240px + 11px);
			}

			#rec229560343 .tn-elem[data-elem-id="1600068455803"] .tn-atom {
				font-size: 20px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229560343 .tn-elem[data-elem-id="1600068455807"] {
			color: #707070;
			z-index: 7;
			top: 263px;
			left: calc(50% - 600px + 681px);
			width: 340px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600068455807"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600068455807"] {
				top: 273px;
				left: calc(50% - 480px + 551px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600068455807"] {
				top: 533px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600068455807"] {
				top: 398px;
				left: calc(50% - 240px + 11px);
			}

			#rec229560343 .tn-elem[data-elem-id="1600068455807"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229560343 .tn-elem[data-elem-id="1600068509458"] {
			color: #253c77;
			z-index: 8;
			top: 668px;
			left: calc(50% - 600px + 20px);
			width: 280px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600068509458"] .tn-atom {
			color: #253c77;
			font-size: 24px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.45;
			font-weight: 500;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509458"] {
				top: 648px;
				left: calc(50% - 480px + 10px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509458"] {
				top: 1066px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509458"] {
				top: 795px;
				left: calc(50% - 240px + 10px);
			}

			#rec229560343 .tn-elem[data-elem-id="1600068509458"] .tn-atom {
				font-size: 20px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229560343 .tn-elem[data-elem-id="1600068509463"] {
			color: #707070;
			z-index: 9;
			top: 721px;
			left: calc(50% - 600px + 20px);
			width: 430px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600068509463"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509463"] {
				top: 701px;
				left: calc(50% - 480px + 10px);
				width: 330px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509463"] {
				top: 1119px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509463"] {
				top: 836px;
				left: calc(50% - 240px + 10px);
				width: 420px;
			}

			#rec229560343 .tn-elem[data-elem-id="1600068509463"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600068509463"] {
				top: 836px;
				left: calc(50% - 160px + 10px);
				width: 290px;
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600068533164"] {
			color: #253c77;
			z-index: 13;
			top: 1130px;
			left: calc(50% - 600px + 681px);
			width: 280px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600068533164"] .tn-atom {
			color: #253c77;
			font-size: 24px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.45;
			font-weight: 500;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533164"] {
				top: 1090px;
				left: calc(50% - 480px + 551px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533164"] {
				top: 1673px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533164"] {
				top: 1255px;
				left: calc(50% - 240px + 10px);
			}

			#rec229560343 .tn-elem[data-elem-id="1600068533164"] .tn-atom {
				font-size: 20px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533164"] {
				top: 1261px;
				left: calc(50% - 160px + 10px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600068533168"] {
			color: #707070;
			z-index: 14;
			top: 1183px;
			left: calc(50% - 600px + 681px);
			width: 430px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600068533168"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533168"] {
				top: 1143px;
				left: calc(50% - 480px + 551px);
				width: 380px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533168"] {
				top: 1726px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533168"] {
				top: 1296px;
				left: calc(50% - 240px + 10px);
			}

			#rec229560343 .tn-elem[data-elem-id="1600068533168"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600068533168"] {
				top: 1302px;
				left: calc(50% - 160px + 10px);
				width: 300px;
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600069993006"] {
			z-index: 16;
			top: 551px;
			left: calc(50% - 600px + 620px);
			width: 560px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600069993006"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600069993006"] {
				top: 551px;
				left: calc(50% - 480px + 449px);
				width: 480px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600069993006"] {
				top: 700px;
				left: calc(50% - 320px + 10px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600069993006"] {
				top: 535px;
				left: calc(50% - 240px + 10px);
				width: 320px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600069993006"] {
				top: 535px;
				left: calc(50% - 160px + 0px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070018244"] {
			z-index: 5;
			top: 636px;
			left: calc(50% - 600px + 1100px);
			width: 35px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070018244"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070018244"] {
				top: 604px;
				left: calc(50% - 480px + 860px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070018244"] {
				top: 753px;
				left: calc(50% - 320px + 421px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070018244"] {
				top: 583px;
				left: calc(50% - 240px + 270px);
				width: 25px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070018244"] {
				top: 583px;
				left: calc(50% - 160px + 260px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070030912"] {
			z-index: 17;
			top: 751px;
			left: calc(50% - 600px + 743px);
			width: 32px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070030912"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070030912"] {
				top: 731px;
				left: calc(50% - 480px + 543px);
				width: 22px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070030912"] {
				top: 880px;
				left: calc(50% - 320px + 104px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070030912"] {
				top: 665px;
				left: calc(50% - 240px + 84px);
				width: 14px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070030912"] {
				top: 665px;
				left: calc(50% - 160px + 74px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070041488"] {
			z-index: 18;
			top: 696px;
			left: calc(50% - 600px + 770px);
			width: 49px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070041488"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070041488"] {
				top: 676px;
				left: calc(50% - 480px + 560px);
				width: 39px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070041488"] {
				top: 825px;
				left: calc(50% - 320px + 121px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070041488"] {
				top: 621px;
				left: calc(50% - 240px + 91px);
				width: 29px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070041488"] {
				top: 621px;
				left: calc(50% - 160px + 81px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070061533"] {
			z-index: 19;
			top: 556px;
			left: calc(50% - 600px + 1040px);
			width: 80px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070061533"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070061533"] {
				top: 556px;
				left: calc(50% - 480px + 810px);
				width: 60px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070061533"] {
				top: 705px;
				left: calc(50% - 320px + 371px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070061533"] {
				top: 543px;
				left: calc(50% - 240px + 241px);
				width: 40px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070061533"] {
				top: 543px;
				left: calc(50% - 160px + 231px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070074645"] {
			z-index: 20;
			top: 749px;
			left: calc(50% - 600px + 780px);
			width: 45px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070074645"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070074645"] {
				top: 719px;
				left: calc(50% - 480px + 570px);
				width: 35px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070074645"] {
				top: 868px;
				left: calc(50% - 320px + 131px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070074645"] {
				top: 653px;
				left: calc(50% - 240px + 101px);
				width: 25px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070074645"] {
				top: 653px;
				left: calc(50% - 160px + 91px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070944817"] {
			z-index: 21;
			top: 993px;
			left: calc(50% - 600px + 18px);
			width: 550px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070944817"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070944817"] {
				top: 1013px;
				left: calc(50% - 480px + 3px);
				width: 460px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070944817"] {
				top: 1313px;
				left: calc(50% - 320px + 3px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070944817"] {
				top: 974px;
				left: calc(50% - 240px + 3px);
				width: 340px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070944817"] {
				top: 994px;
				left: calc(50% - 160px + 3px);
				width: 320px;
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600070993509"] {
			z-index: 22;
			top: 1233px;
			left: calc(50% - 600px + 297px);
			width: 80px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600070993509"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600070993509"] {
				top: 1215px;
				left: calc(50% - 480px + 232px);
				width: 70px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600070993509"] {
				top: 1515px;
				left: calc(50% - 320px + 232px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600070993509"] {
				top: 1125px;
				left: calc(50% - 240px + 178px);
				width: 50px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600070993509"] {
				top: 1135px;
				left: calc(50% - 160px + 172px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600071001221"] {
			z-index: 4;
			top: 1181px;
			left: calc(50% - 600px + 40px);
			width: 128px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600071001221"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600071001221"] {
				top: 1171px;
				left: calc(50% - 480px + 5px);
				width: 108px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600071001221"] {
				top: 1471px;
				left: calc(50% - 320px + 5px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600071001221"] {
				top: 1082px;
				left: calc(50% - 240px + 5px);
				width: 88px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600071001221"] {
				top: 1085px;
				left: calc(50% - 160px + -5px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600071216637"] {
			z-index: 23;
			top: 1233px;
			left: calc(50% - 600px + 180px);
			width: 80px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600071216637"] .tn-atom {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transform: rotate(180deg);
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600071216637"] {
				top: 1215px;
				left: calc(50% - 480px + 145px);
				width: 70px;
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600071216637"] {
				top: 1515px;
				left: calc(50% - 320px + 145px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600071216637"] {
				top: 1125px;
				left: calc(50% - 240px + 101px);
				width: 50px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600071216637"] {
				top: 1135px;
				left: calc(50% - 160px + 95px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600071828282"] {
			z-index: 25;
			top: 85px;
			left: calc(50% - 600px + 20px);
			width: 530px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600071828282"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600071828282"] {
				top: 85px;
				left: calc(50% - 480px + 10px);
				width: 470px;
			}
		}

		@media screen and (max-width: 959px) {}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600071828282"] {
				top: 85px;
				left: calc(50% - 240px + 0px);
				width: 300px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229560343 .tn-elem[data-elem-id="1600071871873"] {
			z-index: 3;
			top: 50px;
			left: calc(50% - 600px + 20px);
			width: 200px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600071871873"] .tn-atom {
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600071871873"] {
				top: 50px;
				left: calc(50% - 480px + 30px);
				width: 160px;
			}
		}

		@media screen and (max-width: 959px) {}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600071871873"] {
				top: 50px;
				left: calc(50% - 240px + 20px);
				width: 110px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229560343 .tn-elem[data-elem-id="1600160747183"] {
			color: #253c77;
			z-index: 27;
			top: -348px;
			left: calc(50% - 600px + 520px);
			width: 190px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600160747183"] .tn-atom {
			color: #253c77;
			font-size: 24px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.45;
			font-weight: 500;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747183"] {
				top: -183px;
				left: calc(50% - 480px + 210px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747183"] {
				top: -370px;
				left: calc(50% - 320px + 90px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747183"] {
				top: -371px;
				left: calc(50% - 240px + 60px);
			}

			#rec229560343 .tn-elem[data-elem-id="1600160747183"] .tn-atom {
				font-size: 20px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747183"] {
				top: -216px;
				left: calc(50% - 160px + 30px);
			}
		}

		#rec229560343 .tn-elem[data-elem-id="1600160747190"] {
			color: #707070;
			z-index: 28;
			top: -295px;
			left: calc(50% - 600px + 520px);
			width: 230px;
		}

		#rec229560343 .tn-elem[data-elem-id="1600160747190"] .tn-atom {
			color: #707070;
			font-size: 18px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747190"] {
				top: -130px;
				left: calc(50% - 480px + 210px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747190"] {
				top: -317px;
				left: calc(50% - 320px + 90px);
				width: 390px;
			}
		}

		@media screen and (max-width: 639px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747190"] {
				top: -330px;
				left: calc(50% - 240px + 60px);
				width: 350px;
			}

			#rec229560343 .tn-elem[data-elem-id="1600160747190"] .tn-atom {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 479px) {
			#rec229560343 .tn-elem[data-elem-id="1600160747190"] {
				top: -175px;
				left: calc(50% - 160px + 30px);
				width: 210px;
			}
		}
	</style>
	<div class="t396">
		<div class="t396__artboard rendered" data-artboard-recid="229560343" data-artboard-height="1480"
			data-artboard-height-res-960="1450" data-artboard-height-res-640="1900" data-artboard-height-res-480="1450"
			data-artboard-height-res-320="1490" data-artboard-height_vh="" data-artboard-valign="center"
			data-artboard-ovrflw="" data-artboard-proxy-min-offset-top="0" data-artboard-proxy-min-height="1480"
			data-artboard-proxy-max-height="1480">
			<div class="t396__carrier" data-artboard-recid="229560343"></div>
			<div class="t396__filter" data-artboard-recid="229560343"></div>
			<div class="t396__elem tn-elem tn-elem__2295603431600068455803" data-elem-id="1600068455803"
				data-elem-type="text" data-field-top-value="210" data-field-top-res-960-value="220"
				data-field-top-res-640-value="480" data-field-top-res-480-value="357" data-field-left-value="681"
				data-field-left-res-960-value="551" data-field-left-res-640-value="10" data-field-left-res-480-value="11"
				data-field-width-value="280" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 210px; left: 1352.5px; width: 280px;">
				<div class="tn-atom" field="tn_text_1600068455803">Предприниматели</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600068455807" data-elem-id="1600068455807"
				data-elem-type="text" data-field-top-value="263" data-field-top-res-960-value="273"
				data-field-top-res-640-value="533" data-field-top-res-480-value="398" data-field-left-value="681"
				data-field-left-res-960-value="551" data-field-left-res-640-value="10" data-field-left-res-480-value="11"
				data-field-width-value="340" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 263px; left: 1352.5px; width: 340px;">
				<div class="tn-atom" field="tn_text_1600068455807">Оцените сами уровень нашего сервиса и&nbsp;смело
					советуйте банк контрагентам</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600068509458" data-elem-id="1600068509458"
				data-elem-type="text" data-field-top-value="668" data-field-top-res-960-value="648"
				data-field-top-res-640-value="1066" data-field-top-res-480-value="795" data-field-left-value="20"
				data-field-left-res-960-value="10" data-field-left-res-640-value="10" data-field-left-res-480-value="10"
				data-field-width-value="280" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 668px; left: 691.5px; width: 280px;">
				<div class="tn-atom" field="tn_text_1600068509458">Молодые специалисты</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600068509463" data-elem-id="1600068509463"
				data-elem-type="text" data-field-top-value="721" data-field-top-res-960-value="701"
				data-field-top-res-640-value="1119" data-field-top-res-480-value="836" data-field-top-res-320-value="836"
				data-field-left-value="20" data-field-left-res-960-value="10" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="430"
				data-field-width-res-960-value="330" data-field-width-res-480-value="420"
				data-field-width-res-320-value="290" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 721px; left: 691.5px; width: 430px;">
				<div class="tn-atom" field="tn_text_1600068509463">Работайте с&nbsp;продуктом, который продаёт сам себя.
					Любой график и&nbsp;без ограничений по&nbsp;доходу</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600068533164" data-elem-id="1600068533164"
				data-elem-type="text" data-field-top-value="1130" data-field-top-res-960-value="1090"
				data-field-top-res-640-value="1673" data-field-top-res-480-value="1255" data-field-top-res-320-value="1261"
				data-field-left-value="681" data-field-left-res-960-value="551" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="280"
				data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
				data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 1130px; left: 1352.5px; width: 280px;">
				<div class="tn-atom" field="tn_text_1600068533164">Лидеры мнений</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600068533168" data-elem-id="1600068533168"
				data-elem-type="text" data-field-top-value="1183" data-field-top-res-960-value="1143"
				data-field-top-res-640-value="1726" data-field-top-res-480-value="1296" data-field-top-res-320-value="1302"
				data-field-left-value="681" data-field-left-res-960-value="551" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="10" data-field-width-value="430"
				data-field-width-res-960-value="380" data-field-width-res-320-value="300" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 1183px; left: 1352.5px; width: 430px;">
				<div class="tn-atom" field="tn_text_1600068533168">Монетизируйте свою базу клиентов, партнёров или
					подписчиков. Рекомендуйте предпринимателям лучшие сервисы</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600069993006" data-elem-id="1600069993006"
				data-elem-type="image" data-field-top-value="551" data-field-top-res-960-value="551"
				data-field-top-res-640-value="700" data-field-top-res-480-value="535" data-field-top-res-320-value="535"
				data-field-left-value="620" data-field-left-res-960-value="449" data-field-left-res-640-value="10"
				data-field-left-res-480-value="10" data-field-left-res-320-value="0" data-field-width-value="560"
				data-field-width-res-960-value="480" data-field-width-res-480-value="320" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1291.5px; top: 551px; width: 560px;">
				<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6639-6639-4036-a339-373937313839/_2.svg"
						imgfield="tn_img_1600069993006"
						src="https://static.tildacdn.com/tild6639-6639-4036-a339-373937313839/_2.svg"> </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070018244 t-sbs-anim_started" data-elem-id="1600070018244"
				data-elem-type="image" data-field-top-value="636" data-field-top-res-960-value="604"
				data-field-top-res-640-value="753" data-field-top-res-480-value="583" data-field-top-res-320-value="583"
				data-field-left-value="1100" data-field-left-res-960-value="860" data-field-left-res-640-value="421"
				data-field-left-res-480-value="270" data-field-left-res-320-value="260" data-field-width-value="35"
				data-field-width-res-480-value="25" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-mobile="y"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':20000,'mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':-360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1771.5px; top: 636px; width: 35px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3837-3932-4466-b539-303135653935/_3.svg"
							imgfield="tn_img_1600070018244"
							src="https://static.tildacdn.com/tild3837-3932-4466-b539-303135653935/_3.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070030912 t-sbs-anim_started" data-elem-id="1600070030912"
				data-elem-type="image" data-field-top-value="751" data-field-top-res-960-value="731"
				data-field-top-res-640-value="880" data-field-top-res-480-value="665" data-field-top-res-320-value="665"
				data-field-left-value="743" data-field-left-res-960-value="543" data-field-left-res-640-value="104"
				data-field-left-res-480-value="84" data-field-left-res-320-value="74" data-field-width-value="32"
				data-field-width-res-960-value="22" data-field-width-res-480-value="14" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':15000,'mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':-360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1414.5px; top: 751px; width: 32px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3361-3736-4536-a536-376462356236/_4.svg"
							imgfield="tn_img_1600070030912"
							src="https://static.tildacdn.com/tild3361-3736-4536-a536-376462356236/_4.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070041488 t-sbs-anim_started" data-elem-id="1600070041488"
				data-elem-type="image" data-field-top-value="696" data-field-top-res-960-value="676"
				data-field-top-res-640-value="825" data-field-top-res-480-value="621" data-field-top-res-320-value="621"
				data-field-left-value="770" data-field-left-res-960-value="560" data-field-left-res-640-value="121"
				data-field-left-res-480-value="91" data-field-left-res-320-value="81" data-field-width-value="49"
				data-field-width-res-960-value="39" data-field-width-res-480-value="29" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':20000,'mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':-360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1441.5px; top: 696px; width: 49px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3833-3964-4564-b765-303839393735/_5.svg"
							imgfield="tn_img_1600070041488"
							src="https://static.tildacdn.com/tild3833-3964-4564-b765-303839393735/_5.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070061533 t-sbs-anim_started" data-elem-id="1600070061533"
				data-elem-type="image" data-field-top-value="556" data-field-top-res-960-value="556"
				data-field-top-res-640-value="705" data-field-top-res-480-value="543" data-field-top-res-320-value="543"
				data-field-left-value="1040" data-field-left-res-960-value="810" data-field-left-res-640-value="371"
				data-field-left-res-480-value="241" data-field-left-res-320-value="231" data-field-width-value="80"
				data-field-width-res-960-value="60" data-field-width-res-480-value="40" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':20000,'mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1711.5px; top: 556px; width: 80px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3734-6135-4338-b630-616138383538/_7.svg"
							imgfield="tn_img_1600070061533"
							src="https://static.tildacdn.com/tild3734-6135-4338-b630-616138383538/_7.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070074645 t-sbs-anim_started" data-elem-id="1600070074645"
				data-elem-type="image" data-field-top-value="749" data-field-top-res-960-value="719"
				data-field-top-res-640-value="868" data-field-top-res-480-value="653" data-field-top-res-320-value="653"
				data-field-left-value="780" data-field-left-res-960-value="570" data-field-left-res-640-value="131"
				data-field-left-res-480-value="101" data-field-left-res-320-value="91" data-field-width-value="45"
				data-field-width-res-960-value="35" data-field-width-res-480-value="25" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':25000,'mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':360,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 1451.5px; top: 749px; width: 45px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3837-3932-4466-b539-303135653935/_3.svg"
							imgfield="tn_img_1600070074645"
							src="https://static.tildacdn.com/tild3837-3932-4466-b539-303135653935/_3.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070944817" data-elem-id="1600070944817"
				data-elem-type="image" data-field-top-value="993" data-field-top-res-960-value="1013"
				data-field-top-res-640-value="1313" data-field-top-res-480-value="974" data-field-top-res-320-value="994"
				data-field-left-value="18" data-field-left-res-960-value="3" data-field-left-res-640-value="3"
				data-field-left-res-480-value="3" data-field-left-res-320-value="3" data-field-width-value="550"
				data-field-width-res-960-value="460" data-field-width-res-480-value="340"
				data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 689.5px; top: 993px; width: 550px;">
				<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild3733-3565-4239-b839-646233343862/_2.svg"
						imgfield="tn_img_1600070944817"
						src="https://static.tildacdn.com/tild3733-3565-4239-b839-646233343862/_2.svg"> </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600070993509 t-sbs-anim_started" data-elem-id="1600070993509"
				data-elem-type="image" data-field-top-value="1233" data-field-top-res-960-value="1215"
				data-field-top-res-640-value="1515" data-field-top-res-480-value="1125" data-field-top-res-320-value="1135"
				data-field-left-value="297" data-field-left-res-960-value="232" data-field-left-res-640-value="232"
				data-field-left-res-480-value="178" data-field-left-res-320-value="172" data-field-width-value="80"
				data-field-width-res-960-value="70" data-field-width-res-480-value="50" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.1,'sy':1.1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1,'sy':1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':400,'mx':'0','my':'0','sx':1,'sy':1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1,'sy':1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 968.5px; top: 1233px; width: 80px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6138-6137-4262-a434-333464356361/_1.svg"
							imgfield="tn_img_1600070993509"
							src="https://static.tildacdn.com/tild6138-6137-4262-a434-333464356361/_1.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600071001221 t-sbs-anim_started" data-elem-id="1600071001221"
				data-elem-type="image" data-field-top-value="1181" data-field-top-res-960-value="1171"
				data-field-top-res-640-value="1471" data-field-top-res-480-value="1082" data-field-top-res-320-value="1085"
				data-field-left-value="40" data-field-left-res-960-value="5" data-field-left-res-640-value="5"
				data-field-left-res-480-value="5" data-field-left-res-320-value="-5" data-field-width-value="128"
				data-field-width-res-960-value="108" data-field-width-res-480-value="88" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':2000,'mx':-10,'my':'0','sx':'1','sy':'1','op':'1','ro':-10,'bl':'0','ea':'easeInOut','dt':'0'},{'ti':2000,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 711.5px; top: 1181px; width: 128px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild3663-3737-4561-b430-623665666239/_3.svg"
							imgfield="tn_img_1600071001221"
							src="https://static.tildacdn.com/tild3663-3737-4561-b430-623665666239/_3.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600071216637 t-sbs-anim_started" data-elem-id="1600071216637"
				data-elem-type="image" data-field-top-value="1233" data-field-top-res-960-value="1215"
				data-field-top-res-640-value="1515" data-field-top-res-480-value="1125" data-field-top-res-320-value="1135"
				data-field-left-value="180" data-field-left-res-960-value="145" data-field-left-res-640-value="145"
				data-field-left-res-480-value="101" data-field-left-res-320-value="95" data-field-width-value="80"
				data-field-width-res-960-value="70" data-field-width-res-480-value="50" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-animate-mobile="y" data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1"
				data-animate-sbs-trgofst="0" data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1,'sy':1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':400,'mx':'0','my':'0','sx':1,'sy':1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.1,'sy':1.1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1,'sy':1,'op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 851.5px; top: 1233px; width: 80px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6138-6137-4262-a434-333464356361/_1.svg"
							imgfield="tn_img_1600071216637"
							src="https://static.tildacdn.com/tild6138-6137-4262-a434-333464356361/_1.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600071828282" data-elem-id="1600071828282"
				data-elem-type="image" data-field-top-value="85" data-field-top-res-960-value="85"
				data-field-top-res-480-value="85" data-field-left-value="20" data-field-left-res-960-value="10"
				data-field-left-res-480-value="0" data-field-width-value="530" data-field-width-res-960-value="470"
				data-field-width-res-480-value="300" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 691.5px; top: 85px; width: 530px;">
				<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
						data-original="https://static.tildacdn.com/tild6633-6262-4736-a138-393633336266/_66.svg"
						imgfield="tn_img_1600071828282"
						src="https://static.tildacdn.com/tild6633-6262-4736-a138-393633336266/_66.svg"> </div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600071871873 t-sbs-anim_started" data-elem-id="1600071871873"
				data-elem-type="image" data-field-top-value="50" data-field-top-res-960-value="50"
				data-field-top-res-480-value="50" data-field-left-value="20" data-field-left-res-960-value="30"
				data-field-left-res-480-value="20" data-field-width-value="200" data-field-width-res-960-value="160"
				data-field-width-res-480-value="110" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-mobile="y"
				data-animate-sbs-event="blockintoview" data-animate-sbs-trg="1" data-animate-sbs-trgofst="0"
				data-animate-sbs-loop="loop"
				data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':1500,'mx':5,'my':'0','sx':'1','sy':'1','op':'1','ro':-5,'bl':'0','ea':'','dt':'0'},{'ti':1500,'mx':0,'my':'0','sx':'1','sy':'1','op':'1','ro':0,'bl':'0','ea':'','dt':'0'}]"
				data-fields="img,width,filewidth,fileheight,top,left,container,axisx,axisy,widthunits,leftunits,topunits"
				style="left: 691.5px; top: 50px; width: 200px;">
				<div class="tn-atom__sbs-anim-wrapper" style="display:table; width:inherit; height:inherit;">
					<div class="tn-atom"> <img class="tn-atom__img t-img loaded"
							data-original="https://static.tildacdn.com/tild6636-6461-4834-b731-616161643739/_25.svg"
							imgfield="tn_img_1600071871873"
							src="https://static.tildacdn.com/tild6636-6461-4834-b731-616161643739/_25.svg"> </div>
				</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600160747183" data-elem-id="1600160747183"
				data-elem-type="text" data-field-top-value="-348" data-field-top-res-960-value="-183"
				data-field-top-res-640-value="-370" data-field-top-res-480-value="-371" data-field-top-res-320-value="-216"
				data-field-left-value="520" data-field-left-res-960-value="210" data-field-left-res-640-value="90"
				data-field-left-res-480-value="60" data-field-left-res-320-value="30" data-field-width-value="190"
				data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
				data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
				data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: -348px; left: 1191.5px; width: 190px;">
				<div class="tn-atom" field="tn_text_1600160747183">Оставьте заявку</div>
			</div>
			<div class="t396__elem tn-elem tn-elem__2295603431600160747190" data-elem-id="1600160747190"
				data-elem-type="text" data-field-top-value="-295" data-field-top-res-960-value="-130"
				data-field-top-res-640-value="-317" data-field-top-res-480-value="-330" data-field-top-res-320-value="-175"
				data-field-left-value="520" data-field-left-res-960-value="210" data-field-left-res-640-value="90"
				data-field-left-res-480-value="60" data-field-left-res-320-value="30" data-field-width-value="230"
				data-field-width-res-640-value="390" data-field-width-res-480-value="350"
				data-field-width-res-320-value="210" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: -295px; left: 1191.5px; width: 230px;">
				<div class="tn-atom" field="tn_text_1600160747190">Позвоним вам, чтобы подтвердить участие</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			t396_init('229560343');
		});
	</script><!-- /T396 -->
</div>
<div id="rec229574372" class="r t-rec r_anim r_showed" style=" " data-record-type="215"><a name="start"
		style="font-size:0;"></a></div>