<div id="rec229455642" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
	<!-- T396 -->
	<style>
		#rec229455642 .t396__artboard {
			height: 130px;
			background-color: #fafafa;
		}

		#rec229455642 .t396__filter {
			height: 130px;
		}

		#rec229455642 .t396__carrier {
			height: 130px;
			background-position: center center;
			background-attachment: scroll;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media screen and (max-width: 1199px) {
			#rec229455642 .t396__artboard {}

			#rec229455642 .t396__filter {}

			#rec229455642 .t396__carrier {
				background-attachment: scroll;
			}
		}

		@media screen and (max-width: 959px) {}

		@media screen and (max-width: 639px) {
			#rec229455642 .t396__artboard {
				height: 120px;
			}

			#rec229455642 .t396__filter {
				height: 120px;
			}

			#rec229455642 .t396__carrier {
				height: 120px;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229455642 .tn-elem[data-elem-id="1600083798811"] {
			color: #707070;
			text-align: right;
			z-index: 2;
			top: 47px;
			left: calc(50% - 600px + 920px);
			width: 260px;
		}

		#rec229455642 .tn-elem[data-elem-id="1600083798811"] .tn-atom {
			color: #707070;
			font-size: 16px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229455642 .tn-elem[data-elem-id="1600083798811"] {
				top: 47px;
				left: calc(50% - 480px + 690px);
			}
		}

		@media screen and (max-width: 959px) {
			#rec229455642 .tn-elem[data-elem-id="1600083798811"] {
				top: 47px;
				left: calc(50% - 320px + 370px);
			}
		}

		@media screen and (max-width: 639px) {
			#rec229455642 .tn-elem[data-elem-id="1600083798811"] {
				top: 54px;
				left: calc(50% - 240px + 10px);
			}

			#rec229455642 .tn-elem[data-elem-id="1600083798811"] {
				text-align: left;
			}
		}

		@media screen and (max-width: 479px) {}

		#rec229455642 .tn-elem[data-elem-id="1600085800683"] {
			color: #707070;
			z-index: 15;
			top: 47px;
			left: calc(50% - 600px + 21px);
			width: 260px;
		}

		#rec229455642 .tn-elem[data-elem-id="1600085800683"] .tn-atom {
			color: #707070;
			font-size: 16px;
			font-family: 'Roboto', Arial, sans-serif;
			line-height: 1.7;
			font-weight: 400;
			background-position: center center;
			border-color: transparent;
			border-style: solid;
		}

		@media screen and (max-width: 1199px) {
			#rec229455642 .tn-elem[data-elem-id="1600085800683"] {
				top: 47px;
				left: calc(50% - 480px + 11px);
			}
		}

		@media screen and (max-width: 959px) {}

		@media screen and (max-width: 639px) {
			#rec229455642 .tn-elem[data-elem-id="1600085800683"] {
				top: 17px;
				left: calc(50% - 240px + 11px);
			}
		}

		@media screen and (max-width: 479px) {}
	</style>
	<div class="t396">
		<div class="t396__artboard rendered" data-artboard-recid="229455642" data-artboard-height="130"
			data-artboard-height-res-480="120" data-artboard-height_vh="" data-artboard-valign="center"
			data-artboard-ovrflw="" data-artboard-proxy-min-offset-top="0" data-artboard-proxy-min-height="130"
			data-artboard-proxy-max-height="130">
			<div class="t396__carrier" data-artboard-recid="229455642"></div>
			<div class="t396__filter" data-artboard-recid="229455642"></div>
			<div class="t396__elem tn-elem tn-elem__2294556421600083798811" data-elem-id="1600083798811"
				data-elem-type="text" data-field-top-value="47" data-field-top-res-960-value="47"
				data-field-top-res-640-value="47" data-field-top-res-480-value="54" data-field-left-value="920"
				data-field-left-res-960-value="690" data-field-left-res-640-value="370" data-field-left-res-480-value="10"
				data-field-width-value="260" data-field-axisy-value="top" data-field-axisx-value="left"
				data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
				data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 47px; left: 1591.5px; width: 260px;"><a class="tn-atom" href="/policy">Политика
					конфиденциальности</a></div>
			<div class="t396__elem tn-elem tn-elem__2294556421600085800683" data-elem-id="1600085800683"
				data-elem-type="text" data-field-top-value="47" data-field-top-res-960-value="47"
				data-field-top-res-480-value="17" data-field-left-value="21" data-field-left-res-960-value="11"
				data-field-left-res-480-value="11" data-field-width-value="260" data-field-axisy-value="top"
				data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
				data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
				data-fields="top,left,width,container,axisx,axisy,widthunits,leftunits,topunits"
				style="top: 47px; left: 692.5px; width: 260px;">
				<div class="tn-atom" field="tn_text_1600085800683">2020 © Модуль.Банк</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			t396_init('229455642');
		});
	</script><!-- /T396 -->
</div>