<!DOCTYPE html>
<html lang="en">

{% block head %}
    {% include "landing/head.html" %}
{% endblock %}

<body class="t-body" style="margin: 0px;">

	{% block menu %}
	    {% include "landing/menu.html" %}
	{% endblock %}

	{% block block1 %}
	    {% include "landing/block1.html" %}
	{% endblock %}

	{% block block2 %}
	    {% include "landing/block2.html" %}
	{% endblock %}

	{% block block3 %}
	    {% include "landing/block3.html" %}
	{% endblock %}

	{% block block4 %}
	    {% include "landing/block4.html" %}
	{% endblock %}

	{% block block5 %}
	    {% include "landing/block5.html" %}
	{% endblock %}

	{% block block6 %}
	    {% include "landing/block6.html" %}
	{% endblock %}

	{% block block7 %}
	    {% include "landing/block7.html" %}
	{% endblock %}

	{% block footer %}
	    {% include "landing/footer.html" %}
	{% endblock %}

</body>

</html>