<div id="rec228763784" class="r t-rec t-screenmin-980px" style=" " data-animationappear="off" data-record-type="257"
	data-screen-min="980px">
	<!-- T228 -->
	<div id="nav228763784marker"></div>
	<div id="nav228763784" class="t228 t228__positionfixed "
		style="background-color: rgb(255, 255, 255); box-shadow: none;" data-bgcolor-hex="#ffffff"
		data-bgcolor-rgba="rgba(255,255,255,0.0)" data-navmarker="nav228763784marker" data-appearoffset=""
		data-bgopacity-two="100" data-menushadow="" data-bgopacity="0.0"
		data-bgcolor-rgba-afterscroll="rgba(255,255,255,1)" data-menu-items-align="center" data-menu="yes">
		<div class="t228__maincontainer t228__c12collumns" style="">
			<div class="t228__padding40px"></div>
			<div class="t228__leftside" style="min-width: 230px;">
				<div class="t228__leftcontainer"><a href="#home" style="color:#ffffff;"><img
							src="https://static.tildacdn.com/tild3861-3861-4464-b163-616164306334/Modulbank-logo-ru-rg.svg"
							class="t228__imglogo t228__imglogomobile" imgfield="img"
							style="max-width: 200px;width: 200px; height: auto; display: block;" alt="МодульБанк"></a></div>
			</div>
			<div class="t228__centerside ">
				<div class="t228__centercontainer">
					<ul class="t228__list">
						<li class="t228__list_item"><a class="t-menu__link-item" href="#job" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="1">Как работает</a></li>
						<li class="t228__list_item"><a class="t-menu__link-item" href="#bank" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="2">О банке</a></li>
						<li class="t228__list_item"><a class="t-menu__link-item" href="#start" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="3">Как начать</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="/send-email" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="3">Отправить сообщение</a></li>
					</ul>
				</div>
			</div>
			<div class="t228__rightside" style="min-width: 230px;">
				<div class="t228__rightcontainer">
					<div class="t228__right_buttons">
						<div class="t228__right_buttons_wrap">
							<div class="t228__right_buttons_but"><a href="#contacts" target="" class="t-btn "
									style="color:#ffffff;background-color:#8cca11;font-family:Roboto;font-weight:500;">
									<table style="width:100%; height:100%;">
										<tbody>
											<tr>
												<td>Стать партнёром</td>
											</tr>
										</tbody>
									</table>
								</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="t228__padding40px"></div>
		</div>
	</div>
	<style>
		@media screen and (max-width: 980px) {
			#rec228763784 .t228__leftcontainer {
				padding: 20px;
			}

			#rec228763784 .t228__imglogo {
				padding: 20px 0;
			}

			#rec228763784 .t228 {
				position: static;
			}
		}
	</style>
	<script>
		$(window).load(function () {
			if (typeof t228_setWidth !== "undefined") {
				t228_setWidth('228763784');
			}
		});
		$(window).resize(function () {
			t228_setWidth('228763784');
			t228_setBg('228763784');
		});
		$(document).ready(function () {
			t228_highlight();
			t228_checkAnchorLinks('228763784');
			t228__init('228763784');
			t228_setBg('228763784');
			t228_setWidth('228763784');
			t228_changebgopacitymenu('228763784');
			$(window).bind('scroll', t_throttle(function () {
				t228_changebgopacitymenu('228763784')
			}));
		});
	</script>
	<!--[if IE 8]>
    <style>#rec228763784 .t228 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9ffffff', endColorstr='#D9ffffff');
    }</style><![endif]-->
	<style>
		#rec228763784 .t-menu__link-item {
			-webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
			transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
			position: relative;
		}

		#rec228763784 .t-menu__link-item::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 20%;
			opacity: 0;
			width: 100%;
			height: 100%;
			border-bottom: px solid;
			-webkit-box-shadow: inset 0px -px 0px 0px;
			-moz-box-shadow: inset 0px -px 0px 0px;
			box-shadow: inset 0px -px 0px 0px;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		#rec228763784 .t-menu__link-item.t-active {
			color: #7aba02 !important;
		}

		#rec228763784 .t-menu__link-item.t-active::after {
			opacity: 1;
			bottom: -0px;
			border-bottom: 0px solid #7aba02;
			-webkit-box-shadow: inset 0px -1px 0px 0px #7aba02;
			-moz-box-shadow: inset 0px -1px 0px 0px #7aba02;
			box-shadow: inset 0px -1px 0px 0px #7aba02;
		}

		#rec228763784 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover {
			color: #7aba02 !important;
		}

		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

			#rec228763784 .t-menu__link-item,
			#rec228763784 .t-menu__link-item.t-active {
				opacity: 1 !important;
			}
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			setTimeout(function () {
				t_menusub_init('228763784');
			}, 500);
		});
	</script>
	<style>
		@media screen and (max-width: 980px) {
			#rec228763784 .t-menusub__menu .t-menusub__link-item {
				color: #707070 !important;
			}

			#rec228763784 .t-menusub__menu .t-menusub__link-item.t-active {
				color: #707070 !important;
			}
		}
	</style>
</div>
<div id="rec229819305" class="r t-rec t-screenmax-980px" style="opacity: 1;" data-animationappear="off"
	data-record-type="450" data-screen-max="980px">
	<div class="t450__burger_container " data-appearoffset="" data-hideoffset="" style="top:15px; ">
		<div class="t450__burger_bg " style="background-color:#fafafa; "></div>
		<div class="t450__burger"><span style="background-color:#8cca11;"></span> <span
				style="background-color:#8cca11;"></span> <span style="background-color:#8cca11;"></span> <span
				style="background-color:#8cca11;"></span></div>
	</div><!-- t450 -->
	<div id="nav229819305marker"></div>
	<div class="t450__overlay ">
		<div class="t450__overlay_bg" style=" "></div>
	</div>
	<div id="nav229819305" class="t450 " data-tooltip-hook="" style="background-color: #ffffff;">
		<div class="t450__close t450_opened " style="background-color: #ffffff;">
			<div class="t450__close_icon"><span style="background-color:#707070;"></span> <span
					style="background-color:#707070;"></span> <span style="background-color:#707070;"></span> <span
					style="background-color:#707070;"></span></div>
		</div>
		<div class="t450__container t-align_left">
			<div class="t450__top">
				<div class="t450__logowrapper"><a href="#home" style="color:#ffffff;"><img
							src="https://static.tildacdn.com/tild3861-3861-4464-b163-616164306334/Modulbank-logo-ru-rg.svg"
							class="t450__logoimg" imgfield="img" style="max-width: 200px;" alt="МодульБанк"></a></div>
				<div class="t450__menu">
					<ul class="t450__list">
						<li class="t450__list_item"><a class="t-menu__link-item " href="#job" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="1">Как работает</a></li>
						<li class="t450__list_item"><a class="t-menu__link-item " href="#bank" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="2">О банке</a></li>
						<li class="t450__list_item"><a class="t-menu__link-item " href="#start" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="3">Как начать</a></li>
                        <li class="t450__list_item"><a class="t-menu__link-item " href="/send-email" data-menu-submenu-hook=""
								style="color:#707070;font-size:16px;font-weight:400;font-family:'Roboto';"
								data-menu-item-number="3">Отправить сообщение</a></li>
					</ul>
				</div>
			</div>
			<div class="t450__rightside">
				<div class="t450__rightcontainer">
					<div class="t450__right_buttons">
						<div class="t450__right_buttons_wrap">
							<div class="t450__right_buttons_but "><a href="#contacts" target="" class="t-btn "
									style="color:#ffffff;background-color:#8cca11;font-family:Roboto;font-weight:500;">
									<table style="width:100%; height:100%;">
										<tbody>
											<tr>
												<td>Стать партнёром</td>
											</tr>
										</tbody>
									</table>
								</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#rec229819305").attr('data-animationappear', 'off');
			$("#rec229819305").css('opacity', '1');
			t450_initMenu('229819305');
		});
	</script>
	<style>
		#rec229819305 .t-menu__link-item {
			-webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
			transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
			position: relative;
		}

		#rec229819305 .t-menu__link-item::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 20%;
			opacity: 0;
			width: 100%;
			height: 100%;
			border-bottom: px solid;
			-webkit-box-shadow: inset 0px -px 0px 0px;
			-moz-box-shadow: inset 0px -px 0px 0px;
			box-shadow: inset 0px -px 0px 0px;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		#rec229819305 .t-menu__link-item.t-active {
			color: #7aba02 !important;
		}

		#rec229819305 .t-menu__link-item.t-active::after {
			opacity: 1;
			bottom: -0px;
			border-bottom: 0px solid #7aba02;
			-webkit-box-shadow: inset 0px -1px 0px 0px #7aba02;
			-moz-box-shadow: inset 0px -1px 0px 0px #7aba02;
			box-shadow: inset 0px -1px 0px 0px #7aba02;
		}

		#rec229819305 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover {
			color: #7aba02 !important;
		}

		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

			#rec229819305 .t-menu__link-item,
			#rec229819305 .t-menu__link-item.t-active {
				opacity: 1 !important;
			}
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			setTimeout(function () {
				t_menusub_init('229819305');
			}, 500);
		});
	</script>
	<style>
		@media screen and (max-width: 980px) {
			#rec229819305 .t-menusub__menu .t-menusub__link-item {
				color: #707070 !important;
			}

			#rec229819305 .t-menusub__menu .t-menusub__link-item.t-active {
				color: #707070 !important;
			}
		}
	</style>
</div>
<div id="rec231616129" class="r t-rec r_showed r_anim" style=" " data-record-type="215"><a name="home"
		style="font-size:0;"></a>
</div>